Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
# Lets first install the selenium Library
! pip install selenium

Requirement already satisfied: selenium in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sneha pokhriyal\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# Lets now import all the required Libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [286]:
# Lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Internship\Web scraping assignment_2 selenium\chromedriver_win32\chromedriver.exe")

In [10]:
driver.get('https://www.naukri.com/')

In [19]:
# Finding element for job search bar
search_skill=driver.find_element_by_class_name('suggestor-input') # Job search
search_skill.send_keys('Data Analyst')
search_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') # Location search bar
search_location.send_keys('Bangalore')

In [20]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [13]:
# Specifying the url of the webpage to be scraped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [21]:
# Lets open the page through our web driver
driver.get(url)

In [17]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [15]:
# so lets extract all the tags having the job_titles 
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="ebbaabf5-25e9-44d0-9c89-59bf22e4af25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="c867bf03-5c7e-4a5d-9c6e-276bc9193364")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="5c196011-cff4-470b-8017-3f476b3b3d44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="aa08c930-29b4-440a-9ae5-bdce2c4dc9f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="fd4879e7-0f2a-41a4-b48c-33f7335db2ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="ddc73093-3a4a-4a28-bc2a-5649b2a6da7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="e07e59c4-178a-4622-a6c7-b64a33973073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="61b58893-5915-4f8e-bfa8-3ea012f7bbc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="8ee3c98e-7173-4b3f-be52-a12656909415")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="edf9e4ca-f854-4f26-bf47-3954cde9da16")>]

In [18]:
# Now we will extract the text from these tags one by one by looping over these tags
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Senior Data Analyst/ Business Analyst',
 'Sr Domain Expert -Data Analysts',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst (Digital Services Analytics)',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Platform & Security']

In [22]:
# So lets extract all the tags having the company names
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="f7e50122-8a24-43de-ad90-9b34b1c65a4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="bed7f908-c10d-44d4-990b-50a984bd6ec4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="f018bdf8-e49f-4f5b-9d8b-10b44b88857e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="30fedec4-3349-4355-af9c-de033417d872")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="20f57ead-23bc-417f-9af5-2abe8878656d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="53d5aaff-8711-4223-b1cd-fe15925678ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="9838c0af-b689-44e9-8de1-fe7bd1d57357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="58223629-6d39-430a-91f8-fac02bed0423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="7e4d4161-56fb-4baf-8806-5d7aaed7f5d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="b07d6e22-5e3b-4d8a-9cf9-f22817578da9")>]

In [23]:
# Now we will extract the text from these tags one by one by looping over these tags
for i in company_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['Rupeek',
 'Siemens',
 'Walmart',
 'LatentView',
 'FINNOVATION TECH SOLUTIONS PRIVATE LIMITED',
 'Dell Technologies',
 'Cerner',
 'Myntra',
 'Enrich talents',
 'National Geographic']

In [24]:
# So lets extract all the tags having the experience required data
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="12954dae-161a-419b-9a10-b782a97b1ace")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="77d83cf2-277e-442c-9890-c4a8fdc946cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="bdadd253-b5ce-4d7b-bde9-d78b02c1b56e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="72b26ca2-f2ca-4244-b564-d1504a54952b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="0121e49c-09a0-4102-8719-2dd87c159e09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="0fd4adf7-8a0e-48ee-a1e4-2499a078ef4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="4533a923-c44c-44a3-98c9-bd523b24e0cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="b37528b0-9062-4ad3-be62-4a90c27f1ab8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="6036b6f8-4a31-4a73-a1d8-4d3d39326a88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="46a88515-b757-40b8-9193-a43f8c77ce25")>]

In [25]:
# Now we will extract the text from these tags one by one by looping over these tags
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[0:10]

['2-7 Yrs',
 '0-10 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '8-12 Yrs',
 '1-3 Yrs',
 '0-4 Yrs',
 '4-6 Yrs']

In [26]:
# lets extract all the tags having locations data
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="d9a76c33-d4a6-4729-9543-7e88b7408a54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="d2013d22-ed98-47fd-bdf4-3fe562763fbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="7c10c5c0-4f98-44e3-8db9-e7757104bcf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="e7891f5b-31ba-4cdd-996c-f0397e8f6b43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="0bf32086-8521-478f-ac7c-1204e2b8fe93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="986b9405-1a1e-4845-9f62-de24c28fe76f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="6a1fe738-e679-4b41-a2d7-d309fb7fca3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="c6613776-13d1-4bc2-9cdc-8f1e49d93fed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="479ad478-8abc-4770-b3b2-9afb828240ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="1e4c098c-9963-433a-a223-78f84c4b31d4")>]

In [27]:
# Now we will extract the text from these tags one by one by looping over these tags
for i in location_tags:
    location=i.text
    locations_list.append(location)
locations_list[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

So, now we have extracted the data required from the webpage and stored them in the 4 lists mentioned above. Now before creating a dataframe from these lists. Lets first check the length of each of the list. Because if the length of all of the lists are not equal, then a dataframe cannot be formed.

In [28]:
print(len(job_titles),len(company_names),len(experience_list),len(locations_list))

20 20 20 20

In [29]:
# import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_names
jobs['Experience_Required']=experience_list
jobs['Location']=locations_list

In [32]:
jobs=jobs[0:10]

In [33]:
jobs

,Title,Company,Experience_Required,Location
0,Senior Data Analyst/ Business Analyst,Rupeek,2-7 Yrs,Bangalore/Bengaluru
1,Sr Domain Expert -Data Analysts,Siemens,0-10 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Walmart,5-8 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,LatentView,2-6 Yrs,"Chennai, Bangalore/Bengaluru"
4,Senior Data Analyst,FINNOVATION TECH SOLUTIONS PRIVATE LIMITED,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
5,Senior Data Analyst (Digital Services Analytics),Dell Technologies,1-6 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,Cerner,8-12 Yrs,Bangalore/Bengaluru
7,Data Analyst,Myntra,1-3 Yrs,Bangalore/Bengaluru
8,Data Analyst,Enrich talents,0-4 Yrs,Bangalore/Bengaluru
9,Data Analyst - Platform & Security,National Geographic,4-6 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [34]:
naukri="https://www.naukri.com/"

In [35]:
driver.get(naukri)

In [37]:
# Finding elements for job
search_skill=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_skill.send_keys('Data Scientist')
search_loc_=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc_.send_keys('Bangalore')

In [38]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [45]:
job=[]
company=[]
location=[]

In [46]:
# extracting tags of job titles
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="ae20ba17-c486-4cbb-adff-4d61f9d8786a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="193e8c63-275d-4ecb-8c29-21b073c97621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="ffeb1100-3aca-42ed-8d7d-a6ea6f9c8a2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="ba8aaac0-d562-4cc0-935b-8e056672dd19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="ce105391-9861-4724-b973-ad524b8a54c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="7f4fea78-d602-4b95-bf69-a2d23ef05ba0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="3a922f29-073c-4274-8b8d-b9531676bc45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="27f1c1c4-2595-4720-822e-8b74b8284fbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="81ccce83-dc00-43c1-8821-54f580d67c86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="f7bd9158-1725-4fb6-b153-1f5afa180ffd")>]

In [47]:
# extracting texts from tags
for i in title_tag:
    title=i.text
    job.append(title)
job[0:10]

['Senior Data Scientist',
 'Data Scientist',
 'Manager - Data Scientist Job @ Applied Materials - Bangalore',
 'Analyst - Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist / Machine learning Engineer',
 'Junior Data Scientist',
 'Data Analyst / Data Scientist']

In [48]:
# extracting tags of job location
loc_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
loc_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="7e2520de-09d4-4310-866c-98a908bcc81d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="8e692c44-efc4-4130-a5db-de78097cf329")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="fef2f203-c56a-4908-90c7-89fb8cf0e3a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="986ab1d4-459c-4dcb-bead-268cc0e5ea8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="6351da78-23be-43af-9afa-44a11efd5d71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="e39216ee-f936-4521-8f6b-9fbb456f20b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="7fdaab7c-d384-45e9-9c2e-9e7fab2017ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="51a0a8d5-09c5-4378-906c-bc40716c7502")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="d0882ea5-dff8-4ee3-bccb-d9a13f5fe18e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="fd790d40-06ab-4cc4-ac22-0b1bba430070")>]

In [49]:
# Now we will extract the text from these tags one by one by looping over these tags
for i in loc_tag:
    loc=i.text
    location.append(loc)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Whitefield)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [50]:
# So lets extract all the tags having the company names
comp_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
comp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="7bda0082-e7a1-492d-a685-dc0bd6060111")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="9a9baea9-0d9e-40d7-ba01-7f31621c9bad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="bbfd00dd-6241-43c6-afed-80b024ad8a61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="6584147d-ef8d-401a-aa69-00ffaa7744aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="454afc9c-3696-4525-8008-f9ced15c4aca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="73168dd3-ef4f-4a11-81a8-1edf4e9a0d3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="5e64ffc2-b558-4af3-9c55-9f2e9daafdd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="b6b28604-d07e-4e93-8cf5-da98cfe7de91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="4c9904b6-dcca-4d78-b112-d6cc78578e13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13c7bada95d3f4e06bec09b01964bb39", element="afd6141a-2b00-4728-b947-052970ef1eb4")>]

In [51]:
# Now we will extract the text from these tags one by one by looping over these tags
for i in comp_tag:
    comp=i.text
    company.append(comp)
company[0:10]

['GSK India',
 'Applied Materials',
 'Applied Materials',
 'MilliporeSigma',
 'Flipkart',
 'GSK India',
 'Roposo',
 'Leading US MNC into Analytics',
 'Accenture',
 'JK Technosoft']

In [52]:
# checking length of above lists
print(len(job),len(location),len(company))

20 20 20

In [53]:
ds_jobs=pd.DataFrame({})
ds_jobs['Title']=job
ds_jobs['Location']=location
ds_jobs['Company']=company

In [54]:
ds_jobs=ds_jobs[0:10]
ds_jobs

,Title,Location,Company
0,Senior Data Scientist,Bangalore/Bengaluru,GSK India
1,Data Scientist,Bangalore/Bengaluru,Applied Materials
2,Manager - Data Scientist Job @ Applied Materia...,Bangalore/Bengaluru(Whitefield),Applied Materials
3,Analyst - Data Scientist,Bangalore/Bengaluru,MilliporeSigma
4,Senior Data Scientist,Bangalore/Bengaluru,Flipkart
5,Senior Data Scientist,Bangalore/Bengaluru,GSK India
6,Data Scientist,Bangalore/Bengaluru,Roposo
7,Data Scientist / Machine learning Engineer,"Bangalore/Bengaluru, Delhi / NCR",Leading US MNC into Analytics
8,Junior Data Scientist,Bangalore/Bengaluru,Accenture
9,Data Analyst / Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",JK Technosoft

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [59]:
driver.get(naukri)

In [60]:
search_skill=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_skill.send_keys('Data Scientist')

In [61]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [62]:
loc_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
loc_filter.click()

In [63]:
salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
salary_filter.click()

In [64]:
job=[]
location=[]
company=[]
experience=[]

In [69]:
# extracting job title tags
job_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# extracting text from job tags
for i in job_tag:
    title=i.text
    job.append(title)
job[0:10]

['Opening For Data Scientist',
 'Hiring For Senior Data Scientist-Noida',
 'Lead Data Scientist',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist (freelance)',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'AM Data Scientist - Goods & Service Tax Network, Delhi']

In [70]:
# extracting location tags
loc_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

# extracting text from location tags
for i in loc_tag:
    loc=i.text
    location.append(loc)
location[0:10]

['Gurgaon/Gurugram',
 'Noida, Greater Noida, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi',
 'Noida',
 'Gurgaon, Bengaluru',
 'New Delhi',
 'Noida, Delhi / NCR',
 'Delhi / NCR']

In [71]:
# extracting location tags
comp_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

# extracting text from location tags
for i in comp_tag:
    comp=i.text
    company.append(comp)
company[0:10]

['Care Health Insurance',
 'Lumiq.ai',
 'KIA INDIA PRIVATE LIMITED',
 'Creative Hands HR Consultancy',
 '2Coms',
 'Optum',
 'BlackBuck',
 'Boston Consulting Group',
 'HCL Technologies',
 'NISG (National Institute for Smart Government)']

In [72]:
# extracting location tags
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

# extracting text from location tags
for i in exp_tag:
    exp=i.text
    experience.append(exp)
experience[0:10]

['1-5 Yrs',
 '2-6 Yrs',
 '7-10 Yrs',
 '0-4 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-8 Yrs']

In [73]:
# checking length of above lists
print(len(job),len(location),len(company),len(experience))

20 20 20 20

In [74]:
ds_jobs_delhi=pd.DataFrame({})
ds_jobs_delhi['Title']=job
ds_jobs_delhi['Location']=location
ds_jobs_delhi['Company']=company
ds_jobs_delhi['Experience Required']=experience

In [75]:
ds_jobs_delhi=ds_jobs_delhi[0:10]
ds_jobs_delhi

,Title,Location,Company,Experience Required
0,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
1,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
2,Lead Data Scientist,Gurgaon/Gurugram,KIA INDIA PRIVATE LIMITED,7-10 Yrs
3,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
4,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
5,Senior Data Scientist,Noida,Optum,2-7 Yrs
6,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
7,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
8,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL Technologies,3-8 Yrs
9,AM Data Scientist - Goods & Service Tax Networ...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [681]:
driver=webdriver.Chrome("chromedriver.exe")

In [213]:
flipkart="https://www.flipkart.com/"
driver.get(flipkart)

In [214]:
# closing login dialogue box
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [215]:
# search bar
search_product=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product.send_keys('sunglasses')

In [216]:
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [217]:
brand=[]
product_description=[]
price=[]

In [218]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)
brand

['AISLIN',
 'Singco India',
 'Elligator',
 'SRPM',
 'Fastrack',
 'New Specs',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'SUNBEE',
 'Fastrack',
 'Lee Topper',
 'AISLIN',
 'PIRASO',
 'Elligator',
 'New Specs',
 'AUTOSITE',
 'PIRASO',
 'SUNBEE',
 'kingsunglasses',
 'NuVew',
 'kingsunglasses',
 'kingsunglasses',
 'PIRASO',
 'AISLIN',
 'GANSTA',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'SRPM',
 'PHENOMENAL',
 'AISLIN',
 'SRPM',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'NuVew']

In [192]:
len(brand)

40

In [219]:
# Extracting tags of description of products
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [220]:
# Extracting text from tags
for i in des:
    d=i.text
    product_description.append(d)
    
product_description

['UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Night Vision Rectangular Sunglasses (63)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Toughened Glass Lens, UV Protection Wrap-around, Rectan...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)']

In [221]:
len(des)

40

In [223]:
# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)
price

['₹459',
 '₹329',
 '₹295',
 '₹249',
 '₹759',
 '₹269',
 '₹185',
 '₹458',
 '₹273',
 '₹679',
 '₹199',
 '₹458',
 '₹249',
 '₹229',
 '₹299',
 '₹149',
 '₹225',
 '₹304',
 '₹329',
 '₹375',
 '₹209',
 '₹269',
 '₹225',
 '₹1,298',
 '₹198',
 '₹203',
 '₹214',
 '₹425',
 '₹229',
 '₹759',
 '₹225',
 '₹426',
 '₹249',
 '₹246',
 '₹315',
 '₹458',
 '₹239',
 '₹474',
 '₹299',
 '₹308']

In [224]:
len(price)

40

In [226]:
# we need brand, description and price for 100 sunglasses so we will go on the next page
next_page=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page.click()

In [227]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)
brand

['AISLIN',
 'Singco India',
 'Elligator',
 'SRPM',
 'Fastrack',
 'New Specs',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'SUNBEE',
 'Fastrack',
 'Lee Topper',
 'AISLIN',
 'PIRASO',
 'Elligator',
 'New Specs',
 'AUTOSITE',
 'PIRASO',
 'SUNBEE',
 'kingsunglasses',
 'NuVew',
 'kingsunglasses',
 'kingsunglasses',
 'PIRASO',
 'AISLIN',
 'GANSTA',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'SRPM',
 'PHENOMENAL',
 'AISLIN',
 'SRPM',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'NuVew',
 'kingsunglasses',
 'PIRASO',
 'kingsunglasses',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'elegante',
 'New Specs',
 'PHENOMENAL',
 'Elligator',
 'kingsunglasses',
 'SRPM',
 'PHENOMENAL',
 'hipe',
 'kingsunglasses',
 'SRPM',
 'AISLIN',
 'hipe',
 'Singco India',
 'kingsunglasses',
 'NuVew',
 'ROYAL SON',
 'Fastrack',
 'PHENOMENAL',
 'Singco India',
 'AISLIN',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'NuVew',
 'Fastrack',
 'hipe',
 'Lee Topper',
 'AISLIN',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'NuVew',
 'hipe',
 'Fastrack',
 'AUTOSITE']

In [228]:
# Extracting tags of description of products
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

In [229]:
# Extracting text from tags
for i in des:
    d=i.text
    product_description.append(d)
    
product_description

['UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Night Vision Rectangular Sunglasses (63)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Toughened Glass Lens, UV Protection Wrap-around, Rectan...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'Night Vision Rectangular Sunglasses (63)']

In [230]:
# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)
price

['₹459',
 '₹329',
 '₹295',
 '₹249',
 '₹759',
 '₹269',
 '₹185',
 '₹458',
 '₹273',
 '₹679',
 '₹199',
 '₹458',
 '₹249',
 '₹229',
 '₹299',
 '₹149',
 '₹225',
 '₹304',
 '₹329',
 '₹375',
 '₹209',
 '₹269',
 '₹225',
 '₹1,298',
 '₹198',
 '₹203',
 '₹214',
 '₹425',
 '₹229',
 '₹759',
 '₹225',
 '₹426',
 '₹249',
 '₹246',
 '₹315',
 '₹458',
 '₹239',
 '₹474',
 '₹299',
 '₹308',
 '₹299',
 '₹399',
 '₹299',
 '₹379',
 '₹307',
 '₹499',
 '₹264',
 '₹369',
 '₹236',
 '₹210',
 '₹197',
 '₹379',
 '₹233',
 '₹245',
 '₹259',
 '₹459',
 '₹210',
 '₹208',
 '₹189',
 '₹185',
 '₹474',
 '₹809',
 '₹379',
 '₹329',
 '₹458',
 '₹269',
 '₹474',
 '₹375',
 '₹799',
 '₹210',
 '₹276',
 '₹458',
 '₹304',
 '₹679',
 '₹683',
 '₹458',
 '₹327',
 '₹219',
 '₹639',
 '₹149']

In [231]:
# next page
next_page.click()

In [232]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tag=brand_tag[0:20]

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)
brand

['AISLIN',
 'Singco India',
 'Elligator',
 'SRPM',
 'Fastrack',
 'New Specs',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'SUNBEE',
 'Fastrack',
 'Lee Topper',
 'AISLIN',
 'PIRASO',
 'Elligator',
 'New Specs',
 'AUTOSITE',
 'PIRASO',
 'SUNBEE',
 'kingsunglasses',
 'NuVew',
 'kingsunglasses',
 'kingsunglasses',
 'PIRASO',
 'AISLIN',
 'GANSTA',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'SRPM',
 'PHENOMENAL',
 'AISLIN',
 'SRPM',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'NuVew',
 'kingsunglasses',
 'PIRASO',
 'kingsunglasses',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'elegante',
 'New Specs',
 'PHENOMENAL',
 'Elligator',
 'kingsunglasses',
 'SRPM',
 'PHENOMENAL',
 'hipe',
 'kingsunglasses',
 'SRPM',
 'AISLIN',
 'hipe',
 'Singco India',
 'kingsunglasses',
 'NuVew',
 'ROYAL SON',
 'Fastrack',
 'PHENOMENAL',
 'Singco India',
 'AISLIN',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'NuVew',
 'Fastrack',
 'hipe',
 'Lee Topper',
 'AISLIN',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'NuVew',
 'hipe',
 'Fastrack',
 'AUTOSITE',
 'kingsunglasses',
 'PHENOMENAL',
 'SUNBEE',
 'Fair-x',
 'Fastrack',
 'Rich Club',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Singco India',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'AISLIN',
 'GANSTA',
 'Fastrack',
 'kingsunglasses',
 'Fair-x',
 'GANSTA',
 'hipe',
 'AISLIN',
 'NuVew']

In [233]:
len(brand)

100

In [234]:
# Extracting tags of description of products
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=des[0:20]

# Extracting text from tags
for i in des:
    d=i.text
    product_description.append(d)
    
product_description

['UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Night Vision Rectangular Sunglasses (63)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Toughened Glass Lens, UV Protection Wrap-around, Rectan...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (57)',
 'Night Vision Rectangular Sunglasses (63)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Clubmaster Sunglasses (52)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Cat-eye Sunglasses (60)']

In [236]:
print(len(product_description))

100

In [237]:
# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag=price_tag[0:20]

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)
price

['₹459',
 '₹329',
 '₹295',
 '₹249',
 '₹759',
 '₹269',
 '₹185',
 '₹458',
 '₹273',
 '₹679',
 '₹199',
 '₹458',
 '₹249',
 '₹229',
 '₹299',
 '₹149',
 '₹225',
 '₹304',
 '₹329',
 '₹375',
 '₹209',
 '₹269',
 '₹225',
 '₹1,298',
 '₹198',
 '₹203',
 '₹214',
 '₹425',
 '₹229',
 '₹759',
 '₹225',
 '₹426',
 '₹249',
 '₹246',
 '₹315',
 '₹458',
 '₹239',
 '₹474',
 '₹299',
 '₹308',
 '₹299',
 '₹399',
 '₹299',
 '₹379',
 '₹307',
 '₹499',
 '₹264',
 '₹369',
 '₹236',
 '₹210',
 '₹197',
 '₹379',
 '₹233',
 '₹245',
 '₹259',
 '₹459',
 '₹210',
 '₹208',
 '₹189',
 '₹185',
 '₹474',
 '₹809',
 '₹379',
 '₹329',
 '₹458',
 '₹269',
 '₹474',
 '₹375',
 '₹799',
 '₹210',
 '₹276',
 '₹458',
 '₹304',
 '₹679',
 '₹683',
 '₹458',
 '₹327',
 '₹219',
 '₹639',
 '₹149',
 '₹269',
 '₹369',
 '₹301',
 '₹341',
 '₹639',
 '₹253',
 '₹265',
 '₹307',
 '₹664',
 '₹379',
 '₹320',
 '₹459',
 '₹220',
 '₹799',
 '₹214',
 '₹239',
 '₹149',
 '₹258',
 '₹458',
 '₹375']

In [238]:
len(price)

100

In [241]:
sunglasses=pd.DataFrame({})
sunglasses['Brand']=brand
sunglasses['Description']=product_description
sunglasses['Price']=price

sunglasses

           Brand                                        Description Price
0         AISLIN    UV Protection, Gradient Cat-eye Sunglasses (58)  ₹459
1   Singco India              UV Protection Aviator Sunglasses (45)  ₹329
2      Elligator                UV Protection Round Sunglasses (54)  ₹295
3           SRPM             UV Protection Wayfarer Sunglasses (50)  ₹249
4       Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹759
..           ...                                                ...   ...
95        Fair-x              UV Protection Aviator Sunglasses (58)  ₹239
96        GANSTA  UV Protection, Gradient Clubmaster Sunglasses ...  ₹149
97          hipe        UV Protection Sports Sunglasses (Free Size)  ₹258
98        AISLIN  UV Protection, Gradient Butterfly, Retro Squar...  ₹458
99         NuVew              UV Protection Cat-eye Sunglasses (60)  ₹375

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.

In [566]:
iphone="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"
driver.get(iphone)

In [567]:
rating=[]
review_summary=[]
full_review=[]

In [568]:
# Click on all 5952 reviews
all_review=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div')
all_review.click()

In [569]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)

In [570]:
len(rating)

10

In [571]:
# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
review_summ

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)

In [572]:
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
full_rev

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [573]:
n=driver.find_element_by_xpath('//a[@class="_1LKTO3"]/span[1]')

In [575]:
n.click()

In [576]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)

In [577]:
# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)

In [578]:
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [579]:
print(len(rating),len(review_summary),len(full_review))

20 20 20

In [580]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [581]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [582]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [583]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [584]:
print(len(rating),len(review_summary),len(full_review))

40 40 40

In [585]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [586]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [587]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)

In [588]:
print(len(rating),len(review_summary),len(full_review))

50 50 50

In [590]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [591]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [592]:
print(len(rating),len(review_summary),len(full_review))

60 60 60

In [593]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [594]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [596]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)

In [597]:
print(len(rating),len(review_summary),len(full_review))

70 70 70

In [598]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [599]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [600]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)

In [601]:
print(len(rating),len(review_summary),len(full_review))

80 80 80

In [602]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [603]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [604]:
print(len(rating),len(review_summary),len(full_review))

90 90 90

In [605]:
n=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
n.click()

In [606]:
# extracting tags for rating
rating_tag=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

# Extracting text from tags
for i in rating_tag:
    r=i.text
    rating.append(r)


# Extracting tags for review summary
review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

# Extracting text from tags
for i in review_summ:
    rs=i.text
    review_summary.append(rs)
    
# extracting tags for full review
full_rev=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

# extracting text from tags
for i in full_rev:
    fr=i.text
    full_review.append(fr)

In [607]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [608]:
Reviews=pd.DataFrame({})
Reviews['Ratings']=rating
Reviews['Review Summary']=review_summary
Reviews['Full Review']=full_review

In [609]:
Reviews

,Ratings,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Pretty good,I've used this phone for over a month now and ...
96,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
97,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Just wow!,The ultimate performance\nCamera is superb\nTh...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

In [724]:
driver.get(flipkart)

In [683]:
# closing login dialogue box
driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [725]:
# search bar
search_product=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product.send_keys('sneakers')

In [726]:
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [727]:
brand=[]
product_description=[]
price=[]
discount=[]

In [728]:
driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[1]/div/div/div/section[3]/label/div[1]').click()

In [729]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)
brand

['Smoky',
 'BIRDE',
 'BRUTON',
 'D-SNEAKERZ',
 'Magnolia',
 'corsac',
 'ASTEROID',
 'Smoky',
 'Chevit',
 'World Wear Footwear',
 'World Wear Footwear',
 'D-SNEAKERZ',
 'Chevit',
 'KWIK FIT',
 'aadi',
 'BERSACHE',
 'ASTEROID',
 'Chevit',
 'Kraasa',
 'ROCKFIELD',
 'Labbin',
 'SCATCHITE',
 'Chevit',
 'PUMA',
 'Layasa',
 'World Wear Footwear',
 'Chevit',
 'Extoes',
 'Kraasa',
 'BRUTON',
 'aadi',
 'ROCKFIELD',
 'CLYMB',
 'Rzisbo',
 'BRUTON',
 'ADIDAS ORIGINALS',
 'Chevit',
 'Shoes Bank',
 'BRUTON',
 'ADIDAS ORIGINALS']

In [730]:
len(brand)

40

In [731]:
# Extracting tags of description of products
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

# Extracting text from tags
for i in des:
    d=i.text
    product_description.append(d)
    
product_description

['Trendy Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Shoe...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 '13 Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 '5011-Latest Collection Stylish & Trendy Casual Sneakers...',
 '5013-Latest Collection Stylish & Trendy of casuals Snea...',
 'Training & Gym Shoes Light Weight Running Casual Shoes,...',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 '516 Trendy Star Perfect Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Perfect Combo Pack of 02 Pairs Casual Sneakers Outdoor ...',
 'G. Vilas 2 Core Sneakers For Men',
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Super 445 Fashion Sneakers For Men',
 'Trendy comfertable Combo pack Of 2 Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'SMOOTH RUNNER Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Lattest Sneakers Shoe Sneakers For Men',
 'NY 92 STRIPES Sneakers For Men']

In [732]:
len(des)

40

In [733]:
# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)
price

['₹499',
 '₹370',
 '₹209',
 '₹249',
 '₹374',
 '₹449',
 '₹424',
 '₹499',
 '₹599',
 '₹159',
 '₹159',
 '₹248',
 '₹499',
 '₹347',
 '₹317',
 '₹515',
 '₹449',
 '₹209',
 '₹394',
 '₹749',
 '₹424',
 '₹348',
 '₹544',
 '₹1,541',
 '₹399',
 '₹209',
 '₹399',
 '₹449',
 '₹394',
 '₹449',
 '₹269',
 '₹549',
 '₹534',
 '₹549',
 '₹249',
 '₹3,520',
 '₹249',
 '₹349',
 '₹249',
 '₹3,238']

In [734]:
len(price)

40

In [735]:
# Extracting tags for discount
disc=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span[1]')

# Extracting text from tags
for i in disc:
    d=i.text
    discount.append(d)

In [736]:
discount

['58% off',
 '62% off',
 '83% off',
 '62% off',
 '62% off',
 '70% off',
 '78% off',
 '58% off',
 '62% off',
 '68% off',
 '68% off',
 '75% off',
 '72% off',
 '82% off',
 '68% off',
 '14% off',
 '55% off',
 '73% off',
 '60% off',
 '53% off',
 '57% off',
 '65% off',
 '76% off',
 '65% off',
 '60% off',
 '58% off',
 '20% off',
 '55% off',
 '60% off',
 '87% off',
 '73% off',
 '63% off',
 '64% off',
 '45% off',
 '80% off',
 '53% off',
 '68% off',
 '65% off',
 '80% off',
 '53% off']

In [737]:
len(discount)

40

In [738]:
np=driver.find_element_by_xpath('/html/body/div/div/div[3]/div/div[2]/div[12]/div/div/nav/a[11]')
np.click()

In [739]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)

# Extracting tags of description of products
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

# Extracting text from tags
for i in des:
    d=i.text
    product_description.append(d)
    

# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)

# Extracting tags for discount
disc=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span[1]')

# Extracting text from tags
for i in disc:
    d=i.text
    discount.append(d)

In [740]:
print(len(brand),len(product_description),len(price),len(discount))

80 80 80 80

In [741]:
np.click()

In [742]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand_tag=brand_tag[0:20]

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)

# Extracting tags of description of products
des=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=des[0:20]

# Extracting text from tags
for i in des:
    d=i.text
    product_description.append(d)
    

# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price_tag=price_tag[0:20]

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)

# Extracting tags for discount
disc=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span[1]')
disc=disc[0:20]

# Extracting text from tags
for i in disc:
    d=i.text
    discount.append(d)

In [743]:
print(len(brand),len(product_description),len(price),len(discount))

100 100 100 100

In [744]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brand
sneakers['Product Description']=product_description
sneakers['Price']=price
sneakers['Discount']=discount

In [745]:
sneakers

,Brand,Product Description,Price,Discount
0,Smoky,Trendy Sneakers For Men,₹499,58% off
1,BIRDE,"Stylish Comfortable Lightweight, Breathable Ca...",₹370,62% off
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹209,83% off
3,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹249,62% off
4,Magnolia,Sneakers For Men,₹374,62% off
...,...,...,...,...
95,PUMA,X-Ray Sneakers For Men,"₹2,627",60% off
96,Layasa,Sneakers For Men,₹399,49% off
97,Hot & Knot,High Top Casual Party Wear Boot Stylish Sneake...,₹509,51% off
98,PUMA,Blend Sneakers For Men,"₹1,449",50% off
99,Extoes,Sneakers For Men,₹248,57% off

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [866]:
myntra='https://www.myntra.com/shoes'
driver.get(myntra)

In [867]:
# price filter
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [868]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [871]:
brand=[]
description=[]
price=[]

In [872]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)

In [873]:
len(brand)

50

In [874]:
# Extracting tags of description of products
des=driver.find_elements_by_xpath('//h4[@class="product-product"]')

# Extracting text from tags
for i in des:
    d=i.text
    description.append(d)

In [875]:
len(description)

50

In [876]:
# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)

In [877]:
len(price)

50

In [878]:
next_=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]')
next_.click()

In [879]:
# extracting tags of brand name
brand_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')

# extracting text from tags

for i in brand_tag:
    br=i.text
    brand.append(br)

# Extracting tags of description of products
des=driver.find_elements_by_xpath('//h4[@class="product-product"]')

# Extracting text from tags
for i in des:
    d=i.text
    description.append(d)

# Extracting tags of price
price_tag=driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]')

# Extracting price from tags
for i in price_tag:
    p=i.text
    price.append(p)

In [880]:
print(len(brand),len(description),len(price))

100 100 100

In [881]:
shoes=pd.DataFrame({})
shoes['Brand']=brand
shoes['Shoe Description']=description
shoes['Price']=price

In [885]:
shoes

            Brand                 Shoe Description               Price
0            ALDO              Men Leather Loafers  Rs. 11199Rs. 15999
1            ALDO        Men Leather Driving Shoes   Rs. 9099Rs. 12999
2            ALDO             Men Printed Sneakers   Rs. 9099Rs. 12999
3            ALDO        Men Woven Design Sneakers           Rs. 13999
4            ALDO              Men Leather Loafers  Rs. 11199Rs. 15999
..            ...                              ...                 ...
95   Sole To Soul  Platform Peep Toes with Buckles            Rs. 7690
96  Royal Enfield             Cabo WP Riding Boots    Rs. 8075Rs. 8500
97          ASICS    Men Colourblocked PU Sneakers            Rs. 9999
98           ALDO               Leather Slim Heels   Rs. 7199Rs. 11999
99           ALDO                    Wedge Sandals            Rs. 7999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [1460]:
amazon='https://www.amazon.in/'
driver.get(amazon)

In [1461]:
# Search bar
search=driver.find_element_by_xpath('/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [1462]:
# search button
search_button=driver.find_element_by_xpath('/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [1463]:
title=[]
num_ratings=[]
rating=[]
price=[]

In [1464]:
# setting cpu filter

# for intel core 17
i7=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[12]/span/a/div/label/i').click()
i7

In [1465]:
# ratings are not available for some of the products so i'm applying ratings filter 
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[3]/ul/li[1]/span/a/section/i').click()

In [1466]:
# Extracting tags for title
title_tag=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')

In [1467]:
title_tag=title_tag[0:10]

In [1468]:
# Extracting Text from tags
for i in title_tag:
    t=i.text
    title.append(t)

In [1469]:
len(title)

10

In [1470]:
# Number of Ratings
rn_tag=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
rn_tag=rn_tag[0:10]

In [1471]:
for i in rn_tag:
    r=i.text
    num_ratings.append(r)
num_ratings

['3', '1', '56', '1', '38', '147', '89', '7', '13', '94']

In [1493]:
price_tag=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price_tag=price_tag[0:10]

In [1494]:
for i in price_tag:
    p=i.text
    price.append(p)

In [1495]:
price

['1,29,990',
 '1,24,990',
 '57,490',
 '86,990',
 '86,990',
 '93,999',
 '98,592',
 '1,69,990',
 '96,990',
 '72,500']

In [1496]:
print(len(title),len(num_ratings),len(rating),len(price))

10 10 0 10

In [1497]:
laptop=pd.DataFrame({})
laptop['Title']=title
laptop['Number of Ratings']=num_ratings
laptop['Price']=price

In [1498]:
laptop

,Title,Number of Ratings,Price
0,Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...,3,"1,29,990"
1,Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...,1,"1,24,990"
2,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",56,"57,490"
3,"HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...",1,"86,990"
4,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,38,"86,990"
5,LG Gram Intel Evo 11th Gen Core i7 17 inches U...,147,"93,999"
6,"Lenovo Yoga 7 Intel Evo Core i7 11th Gen 14"" F...",89,"98,592"
7,Acer Predator Helios 300 11th Gen Intel Core i...,7,"1,69,990"
8,"ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...",13,"96,990"
9,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,94,"72,500"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [1242]:
ambition_box='https://www.ambitionbox.com/'
driver.get(ambition_box)

In [1243]:
# Click on jobs 
click_jobs=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
click_jobs.click()

In [1246]:
# write on search bar
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [1247]:
# Click on search button
search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_button.click()

In [1248]:
# Click on location filter
loc_filter=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]')
loc_filter.click()

In [1249]:
# Entering location name in search locations
loc=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
loc.send_keys('Noida')

In [1250]:
# select the location
noida=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
noida.click()

In [1260]:
company=[]
days_ago=[]
rating=[]

In [1261]:
# extrtacting tags
comp_tag=driver.find_elements_by_xpath('//div[@class="company-info"]/p')

In [1263]:
for i in comp_tag:
    c=i.text
    company.append(c)

In [1265]:
company=company[1:]

In [1266]:
company

['GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Tech Mahindra Ltd',
 'GENPACT India Private Limited',
 'HCL Technologies',
 'Optum Global Solutions (India) Private Limited',
 'Zyoin',
 'Newgen Software Technologies Ltd.',
 'Pitney Bowes India Pvt Ltd',
 'JK Technosoft Ltd']

In [1283]:
# extracting tags regarding age of ad
age_tag=driver.find_elements_by_xpath('//div[@class="other-info"]/span[1]')

In [1284]:
for i in age_tag:
    a=i.text
    days_ago.append(a)

In [1285]:
days_ago

['4d ago',
 '19d ago',
 '18d ago',
 '21d ago',
 '25d ago',
 '1mon ago',
 '3d ago',
 '5d ago',
 '1mon ago',
 '14d ago']

In [1286]:
# rating of company
rate_tag=driver.find_elements_by_xpath('//span[@class="body-small"]')

In [1287]:
for i in rate_tag:
    r=i.text
    rating.append(r)

In [1288]:
rating

['4.0', '4.1', '3.7', '4.0', '3.8', '4.1', '4.1', '3.5', '4.2', '3.6']

In [1290]:
print(len(company),len(days_ago),len(rating))

10 10 10

In [1292]:
ambition_box_job=pd.DataFrame({})
ambition_box_job['Company']=company
ambition_box_job['No. of days ago when job was posted']=days_ago
ambition_box_job['Rating']=rating

In [1293]:
ambition_box_job

,Company,No. of days ago when job was posted,Rating
0,GENPACT India Private Limited,4d ago,4.0
1,Optum Global Solutions (India) Private Limited,19d ago,4.1
2,Tech Mahindra Ltd,18d ago,3.7
3,GENPACT India Private Limited,21d ago,4.0
4,HCL Technologies,25d ago,3.8
5,Optum Global Solutions (India) Private Limited,1mon ago,4.1
6,Zyoin,3d ago,4.1
7,Newgen Software Technologies Ltd.,5d ago,3.5
8,Pitney Bowes India Pvt Ltd,1mon ago,4.2
9,JK Technosoft Ltd,14d ago,3.6

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [1354]:
driver.get(ambition_box)

In [1355]:
# click on salries
click_sal=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
click_sal.click()

In [1356]:
# Entering in search job profiles bar
search_bar=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_bar.send_keys('Data Scientist')

In [1357]:
# Click on data scientist
ds=driver.find_element_by_xpath('//div[@class="suggestion_wrap tt-suggestion tt-selectable"]')

In [1358]:
ds.click()

In [1361]:
company=[]
total_sal_record=[]
avg_sal=[]
min_sal=[]
max_sal=[]
exp_req=[]

In [1359]:
# company name tags
comp_tag=driver.find_elements_by_xpath('//div[@class="name"]/a')

In [1362]:
for i in comp_tag:
    c=i.text
    company.append(c)

In [1363]:
company

['Walmart',
 'Ab Inbev',
 'Reliance Jio',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions']

In [1364]:
# total salary records tag
tsr=driver.find_elements_by_xpath('//div[@class="name"]/span[1]')

In [1366]:
for i in tsr:
    t=i.text
    total_sal_record.append(t)

In [1367]:
total_sal_record

['based on 11 salaries',
 'based on 31 salaries',
 'based on 10 salaries',
 'based on 15 salaries',
 'based on 28 salaries',
 'based on 81 salaries',
 'based on 46 salaries',
 'based on 53 salaries',
 'based on 14 salaries',
 'based on 13 salaries']

In [1368]:
avg=driver.find_elements_by_xpath('//p[@class="averageCtc"]')

In [1370]:
for i in avg:
    a=i.text
    avg_sal.append(a)

In [1371]:
avg_sal

['₹ 29.7L',
 '₹ 20.5L',
 '₹ 18.9L',
 '₹ 15.9L',
 '₹ 15.4L',
 '₹ 15.1L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 12.7L',
 '₹ 12.4L']

In [1379]:
min_=driver.find_elements_by_xpath('//div[@class="salary-values"]/div[1]')

In [1382]:
for i in min_:
    m=i.text
    min_sal.append(m)

In [1383]:
min_sal

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 5.6L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L']

In [1384]:
max_=driver.find_elements_by_xpath('//div[@class="salary-values"]/div[2]')

In [1385]:
for i in max_:
    m=i.text
    max_sal.append(m)

In [1386]:
max_sal

['₹ 35.0L',
 '₹ 25.5L',
 '₹ 26.2L',
 '₹ 20.0L',
 '₹ 22.4L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L']

In [1454]:
exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

In [1455]:
for i in exp:
    e=i.text.replace('Data Scientist\n . \n',"")
    exp_req.append(e)

In [1456]:
exp_req

['3 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp']

In [1457]:
print(len(company),len(total_sal_record),len(avg_sal),len(min_sal),len(max_sal),len(exp_req))

10 10 10 10 10 10

In [1458]:
salary_records=pd.DataFrame({})
salary_records['Company']=company
salary_records['Total Salary Record']=total_sal_record
salary_records['Average Salary']=avg_sal
salary_records['Minimum Salary']=min_sal
salary_records['Maximum Salary']=max_sal
salary_records['Experience Required']=exp_req

In [1459]:
salary_records

,Company,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L,3 yrs exp
1,Ab Inbev,based on 31 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L,4 yrs exp
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L,2 yrs exp
4,Optum,based on 28 salaries,₹ 15.4L,₹ 11.0L,₹ 22.4L,3-4 yrs exp
5,Fractal Analytics,based on 81 salaries,₹ 15.1L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
6,Tiger Analytics,based on 46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs exp
7,UnitedHealth,based on 53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L,2-4 yrs exp
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp

In [1499]:
driver.close()

# END