Q1 : Scrape the details of most viewed videos on YouTube from Wikipedia

In [440]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException
import warnings
warnings.filterwarnings('ignore')
import time

In [449]:
# Connect to the driver
driver=webdriver.Chrome(r'C:\Internship\Web scraping assignment_2 selenium\chromedriver.exe')

In [3]:
wiki='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [4]:
driver.get(wiki)

In [5]:
# Creating Empty lists
rank=[]
name=[]
artist=[]
date=[]
views=[]

In [6]:
# Extracting tags
rank_tag=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
rank_tag=rank_tag[0:30]

In [7]:
# Extracting ranks from tags
for i in rank_tag:
    n=i.text
    rank.append(n)

In [8]:
len(rank)

30

In [9]:
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [10]:
# Extracting tags
name_tag=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
name_tag=name_tag[0:30]

# Extracting names from tags
for i in name_tag:
    n=i.text
    name.append(n)

In [11]:
len(name)

30

In [12]:
name

['"Baby Shark Dance"[3]',
 '"Despacito"[6]',
 '"Johny Johny Yes Papa"[12]',
 '"Shape of You"[13]',
 '"See You Again"[15]',
 '"Bath Song"[20]',
 '"Phonics Song with Two Words"[21]',
 '"Uptown Funk"[22]',
 '"Learning Colors – Colorful Eggs on a Farm"[23]',
 '"Masha and the Bear – Recipe for Disaster"[24]',
 '"Gangnam Style"[25]',
 '"Wheels on the Bus"[30]',
 '"Dame Tu Cosita"[31]',
 '"Sugar"[32]',
 '"Roar"[33]',
 '"Counting Stars"[34]',
 '"Sorry"[35]',
 '"Thinking Out Loud"[36]',
 '"Axel F"[37]',
 '"Girls Like You"[38]',
 '"Faded"[39]',
 '"Dark Horse"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Let Her Go"[42]',
 '"Bailando"[43]',
 '"Lean On"[44]',
 '"Perfect"[45]',
 '"Shake It Off"[46]',
 '"Waka Waka (This Time for Africa)"[47]',
 '"Mi Gente"[48]']

In [13]:
# Extracting tags
artist_tag=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
artist_tag=artist_tag[0:30]

# Extracting artist from tags
for i in artist_tag:
    n=i.text
    artist.append(n)

In [14]:
len(artist)

30

In [15]:
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Mark Ronson',
 'Miroshka TV',
 'Get Movies',
 'Psy',
 'Cocomelon – Nursery Rhymes',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Ed Sheeran',
 'Crazy Frog',
 'Maroon 5',
 'Alan Walker',
 'Katy Perry',
 'Cocomelon – Nursery Rhymes',
 'Passenger',
 'Enrique Iglesias',
 'Major Lazer',
 'Ed Sheeran',
 'Taylor Swift',
 'Shakira',
 'J Balvin']

In [16]:
# Extracting tags
date_tag=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
date_tag=date_tag[0:30]

# Extracting date from tags
for i in date_tag:
    n=i.text
    date.append(n)

In [17]:
len(date)

30

In [18]:
date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'January 31, 2012',
 'July 15, 2012',
 'May 24, 2018',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'October 7, 2014',
 'June 16, 2009',
 'May 31, 2018',
 'December 3, 2015',
 'February 20, 2014',
 'June 25, 2018',
 'July 25, 2012',
 'April 11, 2014',
 'March 22, 2015',
 'November 9, 2017',
 'August 18, 2014',
 'June 4, 2010',
 'June 29, 2017']

In [19]:
# Extracting tags
views_tag=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
views_tag=views_tag[0:30]

# Extracting views from tags
for i in views_tag:
    n=i.text
    views.append(n)

In [20]:
len(views)

30

In [21]:
views

['10.80',
 '7.87',
 '6.37',
 '5.74',
 '5.54',
 '5.44',
 '4.67',
 '4.60',
 '4.58',
 '4.50',
 '4.45',
 '4.12',
 '3.95',
 '3.71',
 '3.60',
 '3.59',
 '3.55',
 '3.46',
 '3.38',
 '3.30',
 '3.29',
 '3.29',
 '3.26',
 '3.24',
 '3.22',
 '3.22',
 '3.18',
 '3.18',
 '3.16',
 '3.09']

In [22]:
# Creating Dataframe
most_viewed_videos=pd.DataFrame({})

most_viewed_videos['Rank']=rank
most_viewed_videos['Name']=name
most_viewed_videos['Artist']=artist
most_viewed_videos['Upload Date']=date
most_viewed_videos['Views']=views

most_viewed_videos.head()

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.80
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.87
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.37
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.74
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.54

Q2 : Scrape the details team India’s international fixtures from bcci.tv.

In [23]:
bcci='https://www.bcci.tv/'
driver.get(bcci)
time.sleep(5)

In [25]:
# Clicking on menu button
driver.find_element_by_xpath('/html/body/nav/div[1]/button').click()

In [26]:
# Clicking on International Fixtures
driver.find_element_by_xpath('/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [27]:
# Craeting Empty Lists
title=[]
series=[]
place=[]
date=[]
time=[]

In [28]:
# Extracting tags
title_tag=driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="f3336fc5b1f6e41066ad419fe57e1fd0", element="00a9d54e-80f7-4927-a525-ff98ca5f42c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3336fc5b1f6e41066ad419fe57e1fd0", element="f2a9cd8d-a8e2-48c1-89a6-fea06ea7cb41")>]

In [29]:
# Extracting title from tags
for i in title_tag:
    n=i.text
    title.append(n)

In [30]:
title

['4th T20I -', '5th T20I -']

In [33]:
# Extracting tags
series_tag=driver.find_elements_by_xpath('//div[@class="fixture-card-top"]/h5[2]')
series_tag

[<selenium.webdriver.remote.webelement.WebElement (session="f3336fc5b1f6e41066ad419fe57e1fd0", element="5dbd5ae1-2f6d-4d14-8061-57183aa0254e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f3336fc5b1f6e41066ad419fe57e1fd0", element="858a2426-b655-4947-988e-a1ded93993c3")>]

In [34]:
# Extracting title from tags
for i in series_tag:
    n=i.text
    series.append(n)

In [35]:
series

['SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

In [36]:
# Extracting tags
place_tag=driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]/span[2]')
place_tag

# Extracting place from tags
for i in place_tag:
    n=i.text
    place.append(n)

In [37]:
place

['Saurashtra Cricket Association Stadium,', 'M Chinnaswamy Stadium,']

In [38]:
# Extracting tags
date_tag=driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]/h5')
date_tag

# Extracting date from tags
for i in date_tag:
    n=i.text
    date.append(n)

In [39]:
date

['17 JUN 2022', '19 JUN 2022']

In [40]:
# Extracting tags
time_tag=driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule "]/h5')
time_tag

# Extracting time from tags
for i in time_tag:
    n=i.text
    time.append(n)

In [41]:
time

['7:00 PM IST', '7:00 PM IST']

In [42]:
# Creating DataFrame
bcci_tv=pd.DataFrame({})
bcci_tv['Title']=title
bcci_tv['Series']=series
bcci_tv['Place']=place
bcci_tv['Date']=date
bcci_tv['Time']=time

bcci_tv

,Title,Series,Place,Date,Time
0,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:00 PM IST
1,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,7:00 PM IST

Q3 : Scrape the details of selenium exception from guru99.com.

In [51]:
guru99='https://www.guru99.com/'

In [52]:
import time

In [53]:
driver.get(guru99)
time.sleep(5)

In [54]:
# click on menu button
driver.find_element_by_xpath('/html/body/div[1]/header/div[2]/div/div/div/div/div/div/div/div[2]/div/div/button/span/span').click()

In [55]:
# Clicking on drop down buttin of Testing
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/nav/div/ul/li[2]/div/button/span[2]').click()

In [56]:
# Clicking on Selenium
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/div/nav/div/ul/li[2]/ul/li[12]').click()

In [57]:
# Clicking on Tutorial of Selenium Exception Handling
driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]').click()

In [58]:
# Creating empty lists
name=[]
desc=[]

In [59]:
# Extracting tags
name_tag=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')

# Extracting name from tags
for i in name_tag:
    n=i.text
    name.append(n)

In [60]:
len(name)

41

In [61]:
name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [62]:
# Extracting tags
desc_tag=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
desc_tag

# Extracting desc from tags
for i in desc_tag:
    n=i.text
    desc.append(n)

In [63]:
len(desc)

41

In [64]:
desc

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [65]:
# Creating DatFrame
selenium_exception_handling=pd.DataFrame({})
selenium_exception_handling['Name']=name
selenium_exception_handling['Description']=desc

selenium_exception_handling.head()

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...

Q4 : Scrape the details of State-wise GDP of India from statisticstime.com.

In [69]:
gdp='https://www.statisticstimes.com/'
driver.get(gdp)

In [71]:
try:
    i=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    i.click()
except ElementNotInteractableException:
    print("Element is not iteracable so i'm directly clicking in India under Economy section")

Element is not iteracable so i'm directly clicking in India under Economy section

In [74]:
# Clicking on gdp of Indian states
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [82]:
# Creating Empty Lists
rank=[]
state=[]
gsdp_18_19=[]
gsdp_19_20=[]
share=[]
gdp=[]

In [83]:
# Extracting tags
rank_tag=driver.find_elements_by_xpath('//td[@class="data1"]')
rank_tag=rank_tag[0:33]

# Extracting rank from tags
for i in rank_tag:
    n=i.text
    rank.append(n)

In [88]:
len(rank)

33

In [84]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [85]:
# Extracting tags
state_tag=driver.find_elements_by_xpath('//td[@class="name"]')
state_tag=state_tag[0:33]

# Extracting state from tags
for i in state_tag:
    n=i.text
    state.append(n)

In [87]:
len(state)

33

In [86]:
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [89]:
# Extracting tags
gsdp_18_19_tag=driver.find_elements_by_xpath('//td[@class="data sorting_1"]')
gsdp_18_19_tag=gsdp_18_19_tag[0:33]

# Extracting gsdp_18_19 from tags
for i in gsdp_18_19_tag:
    n=i.text
    gsdp_18_19.append(n)
    
gsdp_18_19

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [90]:
len(gsdp_18_19)

33

In [100]:
gsdp_19_20=[]

In [101]:
# Extracting tags
gsdp_19_20_tag=driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[3]')
gsdp_19_20_tag=gsdp_19_20_tag[0:33]

# Extracting gsdp_18_19 from tags
for i in gsdp_19_20_tag:
    n=i.text
    gsdp_19_20.append(n)
    
gsdp_19_20

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [102]:
len(gsdp_19_20)

33

In [103]:
# Extracting tags
share_tag=driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[5]')
share_tag=share_tag[0:33]

# Extracting share from tags
for i in share_tag:
    n=i.text
    share.append(n)
    
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [104]:
len(share)

33

In [105]:
# Extracting tags
gdp_tag=driver.find_elements_by_xpath('//table[@class="display dataTable"]/tbody/tr/td[6]')
gdp_tag=gdp_tag[0:33]

# Extracting gdp from tags
for i in gdp_tag:
    n=i.text
    gdp.append(n)
    
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [106]:
len(gdp)

33

In [107]:
# Creating DataFrame
gdp_of_indian_states=pd.DataFrame({})

gdp_of_indian_states['Rank']=rank
gdp_of_indian_states['State']=state
gdp_of_indian_states['GSDP(18-19)']=gsdp_18_19
gdp_of_indian_states['GSDP(19-20)']=gsdp_19_20
gdp_of_indian_states['Share']=share
gdp_of_indian_states['GDP']=gdp

gdp_of_indian_states

   Rank                      State GSDP(18-19) GSDP(19-20)   Share      GDP
0     1                Maharashtra   2,632,792           -  13.94%  399.921
1     2                 Tamil Nadu   1,630,208   1,845,853   8.63%  247.629
2     3              Uttar Pradesh   1,584,764   1,687,818   8.39%  240.726
3     4                    Gujarat   1,502,899           -   7.96%  228.290
4     5                  Karnataka   1,493,127   1,631,977   7.91%  226.806
5     6                West Bengal   1,089,898   1,253,832   5.77%  165.556
6     7                  Rajasthan     942,586   1,020,989   4.99%  143.179
7     8             Andhra Pradesh     862,957     972,782   4.57%  131.083
8     9                  Telangana     861,031     969,604   4.56%  130.791
9    10             Madhya Pradesh     809,592     906,672   4.29%  122.977
10   11                     Kerala     781,653           -   4.14%  118.733
11   12                      Delhi     774,870     856,112   4.10%  117.703
12   13                    Haryana     734,163     831,610   3.89%  111.519
13   14                      Bihar     530,363     611,804   2.81%   80.562
14   15                     Punjab     526,376     574,760   2.79%   79.957
15   16                     Odisha     487,805     521,275   2.58%   74.098
16   17                      Assam     315,881           -   1.67%   47.982
17   18               Chhattisgarh     304,063     329,180   1.61%   46.187
18   19                  Jharkhand     297,204     328,598   1.57%   45.145
19   20                Uttarakhand     245,895           -   1.30%   37.351
20   21            Jammu & Kashmir     155,956           -   0.83%   23.690
21   22           Himachal Pradesh     153,845     165,472   0.81%   23.369
22   23                        Goa      73,170      80,449   0.39%   11.115
23   24                    Tripura      49,845      55,984   0.26%    7.571
24   25                 Chandigarh      42,114           -   0.22%    6.397
25   26                 Puducherry      34,433      38,253   0.18%    5.230
26   27                  Meghalaya      33,481      36,572   0.18%    5.086
27   28                     Sikkim      28,723      32,496   0.15%    4.363
28   29                    Manipur      27,870      31,790   0.15%    4.233
29   30                   Nagaland      27,283           -   0.14%    4.144
30   31          Arunachal Pradesh      24,603           -   0.13%    3.737
31   32                    Mizoram      22,287      26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

Q5 : Scrape the details of trending repositories on Github.com.

In [108]:
github='https://github.com/'
driver.get(github)

In [111]:
# Clicking on menu button
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/button').click()

In [112]:
# Clicking on Explore
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

In [113]:
# Going on trending section
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()

In [276]:
# Creating Empty lists
rep_title=[]
rep_desc=[]
cont_count=[]
lang=[]

In [277]:
# Extracting tags
rep_title_tag=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a')

# Extracting text from tags
for i in rep_title_tag:
    n=i.text
    rep_title.append(n)

In [278]:
rep_title

['grafana / oncall',
 'csteinmetz1 / ai-audio-startups',
 'lucacasonato / fresh',
 'CeresDB / ceresdb',
 'geekan / HowToLiveLonger',
 'GitHubDaily / GitHubDaily',
 'lxgr-linux / pokete',
 'Tencent / spring-cloud-tencent',
 'elastic / eui',
 'ProjectOpenSea / seaport',
 'google / jax',
 'sheepla / pingu',
 'vmware-tanzu / community-edition',
 'facebook / react',
 'redis / redis-py',
 'hashicorp / terraform-provider-aws',
 'VueTubeApp / VueTube',
 'softwaremill / tapir',
 'psf / black',
 'Kong / kong',
 'callstack / react-native-paper',
 'alan2207 / bulletproof-react',
 'actions / virtual-environments',
 'siyuan-note / siyuan',
 'TheAlgorithms / Python']

In [279]:
len(rep_title)

25

In [280]:
# Extracting tags
rep_desc_tag=driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')

# Extracting text from tags
for i in rep_desc_tag:
    n=i.text
    rep_desc.append(n)

In [281]:
rep_desc

['Developer-friendly incident response with brilliant Slack integration',
 'Community list of startups working with AI in audio and music technology',
 'Preact, but super edgy',
 'CeresDB is a high-performance, distributed, schema-less, cloud native time-series database that can handle both time-series and analytics workloads.',
 "程序员延寿指南 | A programmer's guide to live longer",
 '坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A list cool, interesting projects of GitHub.',
 'A terminal based Pokemon like game',
 'Spring Cloud Tencent is a Spring Boot based Service Governance Framework provided by Tencent, including service discovery, traffic control, circuitbreak, ratelimit, config and so on.',
 'Elastic UI Framework 🙌',
 'Seaport is a marketplace protocol for safely and efficiently buying and selling NFTs.',
 'Composable transformations of Python+NumPy programs: differentiate, vectorize, JIT to GPU/TPU, and more',
 '🐧ping command but with pingu',
 'VMware Tanzu Community Edition is a full-featured, easy to manage Kubernetes platform for learners and users on your local workstation or your favorite cloud. Tanzu Community Edition enables the creation of application platforms: infrastructure, tooling, and services providing location to run applications and enable positive developer experiences.',
 'A declarative, efficient, and flexible JavaScript library for building user interfaces.',
 'Redis Python Client',
 'Terraform AWS provider',
 'A simple FOSS video streaming client aimed to recreate ALL features from their respective apps (and more)',
 'Declarative, type-safe web endpoints library',
 'The uncompromising Python code formatter',
 '🦍 The Cloud-Native API Gateway',
 'Material Design for React Native (Android & iOS)',
 '🛡️ ⚛️ A simple, scalable, and powerful architecture for building production ready React applications.',
 'GitHub Actions virtual environments',
 '📕 Build Your Eternal Digital Garden',
 'All Algorithms implemented in Python']

In [282]:
len(rep_desc)

25

In [283]:
# Extracting tags
cont_count_tag=driver.find_elements_by_xpath('//span[@class="d-inline-block mr-3"]/a/img')

# Extracting text from tags
for i in cont_count_tag:
    n=i.get_attribute('alt')
    cont_count.append(n)
    
cont_count

['@Konstantinov-Innokentii',
 '@Matvey-Kuk',
 '@iskhakov',
 '@Ukochka',
 '@mderynck',
 '@csteinmetz1',
 '@tg-bomze',
 '@pkmital',
 '@carlthome',
 '@rishikksh20',
 '@lucacasonato',
 '@crowlKats',
 '@sylc',
 '@hashrock',
 '@satyarohith',
 '@waynexia',
 '@ShiKaiWi',
 '@chunshao90',
 '@jiacai2050',
 '@VirrageS',
 '@geekan',
 '@qhy040404',
 '@Yulv-git',
 '@situ2001',
 '@reezhu',
 '@YSoer',
 '@Freelander',
 '@Azleal',
 '@lxgr-linux',
 '@MaFeLP',
 '@bubstance',
 '@RossOgilvie',
 '@phaberest',
 '@SkyeBeFreeman',
 '@lepdou',
 '@andrewshan',
 '@ranchowang',
 '@chuntaojun',
 '@chandlerprall',
 '@thompsongl',
 '@cchaos',
 '@snide',
 '@cjcenizal',
 '@0age',
 '@jameswenzel',
 '@d1ll0n',
 '@stephankmin',
 '@BCLeFevre',
 '@mattjj',
 '@hawkinsp',
 '@jakevdp',
 '@gnecula',
 '@sheepla',
 '@mattn',
 '@HaraShun',
 '@naoyukis',
 '@johnmanjiro13',
 '@dvonthenen',
 '@tce-automation',
 '@stmcginnis',
 '@joshrosso',
 '@seemiller',
 '@zpao',
 '@gaearon',
 '@sophiebits',
 '@acdlite',
 '@sebmarkbage',
 '@andymccurdy',
 '@chayim',
 '@dvora-h',
 '@AvitalFineRedis',
 '@jdufresne',
 '@bflad',
 '@YakDriver',
 '@ewbankkit',
 '@DrFaust92',
 '@anGie44',
 '@Frontesque',
 '@404-Program-not-found',
 '@PickleNik',
 '@gayolGate',
 '@afnzmn',
 '@adamw',
 '@scala-steward',
 '@mergify',
 '@ghostbuster91',
 '@softwaremill-ci',
 '@ambv',
 '@JelleZijlstra',
 '@ichard26',
 '@hugovk',
 '@cooperlees',
 '@thibaultcha',
 '@subnetmarco',
 '@bungle',
 '@hishamhm',
 '@Tieske',
 '@satya164',
 '@Trancever',
 '@lukewalczak',
 '@jaulz',
 '@brunohkbx',
 '@alan2207',
 '@ryota-murakami',
 '@neighborhood999',
 '@nina1012',
 '@pfcodes',
 '@github-actions',
 '@459680',
 '@al-cheb',
 '@miketimofeev',
 '@88250',
 '@Vanessa219',
 '@ssfdust',
 '@kecrily',
 '@cclauss',
 '@harshildarji',
 '@dhruvmanila',
 '@poyea',
 '@dynamitechetan']

In [284]:
len(cont_count)

120

**I am unable to get the count of contributers**

In [291]:
lang=[]

In [292]:
# Extracting tags
lang_tag=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]')

# Extracting text from tags
for i in lang_tag:
    if i.text is None:
        lang.append('-')
    else:
        lang.append(i.text)
    
lang

['Python',
 'TypeScript',
 'Rust',
 'Python',
 'Java',
 'TypeScript',
 'Solidity',
 'Python',
 'Go',
 'Go',
 'JavaScript',
 'Python',
 'Go',
 'Vue',
 'Scala',
 'Python',
 'Lua',
 'TypeScript',
 'TypeScript',
 'PowerShell',
 'TypeScript',
 'Python']

In [290]:
len(lang)

22

Q6 : Scrape the details of top 100 songs on billiboard.com.

In [342]:
billboard='https://www.billboard.com/'
driver.get(billboard)

In [343]:
# Clicking on menu
driver.find_element_by_xpath('/html/body/div[3]/header/div[1]/div/div/div[1]/button').click()

In [344]:
# Clicking on charts
driver.find_element_by_xpath('/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/a').click()

In [345]:
# Clicking on Hot 100
driver.find_element_by_xpath('/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a').click()

In [346]:
# Creating empty lists
song=[]
artist=[]
last_week=[]
peak=[]
weeks=[]

In [347]:
# Extracting tags
last_week_tag=driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')

# Extracting text from tags
for i in last_week_tag:
    n=i.text
    last_week.append(n)
    
last_week

['1',
 '2',
 '3',
 '8',
 '4',
 '5',
 '6',
 '7',
 '-',
 '11',
 '10',
 '37',
 '13',
 '12',
 '9',
 '15',
 '16',
 '14',
 '18',
 '17',
 '19',
 '23',
 '27',
 '20',
 '29',
 '28',
 '25',
 '24',
 '34',
 '26',
 '21',
 '31',
 '30',
 '-',
 '36',
 '33',
 '40',
 '32',
 '-',
 '50',
 '35',
 '43',
 '38',
 '49',
 '48',
 '-',
 '-',
 '45',
 '53',
 '47',
 '54',
 '55',
 '-',
 '-',
 '56',
 '-',
 '51',
 '41',
 '39',
 '66',
 '44',
 '-',
 '67',
 '64',
 '52',
 '63',
 '62',
 '70',
 '22',
 '-',
 '42',
 '87',
 '46',
 '73',
 '-',
 '69',
 '60',
 '79',
 '74',
 '80',
 '72',
 '82',
 '57',
 '89',
 '78',
 '86',
 '71',
 '-',
 '94',
 '58',
 '61',
 '98',
 '84',
 '65',
 '-',
 '85',
 '-',
 '99',
 '91',
 '-']

In [348]:
len(last_week)

100

In [349]:
# Extracting tags
song_tag=driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')

# Extracting text from tags
for i in song_tag:
    n=i.text
    song.append(n)
    
song

['As It Was',
 'First Class',
 'Wait For U',
 'Running Up That Hill (A Deal With God)',
 'About Damn Time',
 'Heat Waves',
 'Big Energy',
 'Me Porto Bonito',
 'I Like You (A Happier Song)',
 'Titi Me Pregunto',
 'Stay',
 'Cooped Up',
 'Wasted On You',
 'Enemy',
 'Late Night Talking',
 'Ghost',
 'Boyfriend',
 'Moscow Mule',
 'Bad Habits',
 'Woman',
 'Numb Little Bug',
 'Take My Name',
 'Bam Bam',
 'Super Gremlin',
 'Cold Heart (PNAU Remix)',
 'Thats What I Want',
 'Sweetest Pie',
 'Shivers',
 'Provenza',
 'Party',
 'You Proof',
 'AA',
 'Despues de La Playa',
 'One Right Now',
 'Ojitos Lindos',
 'Puffin On Zootiez',
 'Something In The Orange',
 'Trouble With A Heartbreak',
 'Distraction',
 'Efecto',
 'MAMIII',
 'Thousand Miles',
 "'Til You Can't",
 'Get Into It (Yuh)',
 'Damn Strait',
 'I Cannot Be (A Sadder Song)',
 'Wrapped Around Your Finger',
 'In A Minute',
 'Hold My Hand',
 'Sleazy Flow',
 '2step',
 'Fall In Love',
 'Lemon Tree',
 'Reputation',
 'To The Moon!',
 'Wasting Angels',
 'Silent Hill',
 'Music For A Sushi Restaurant',
 'N95',
 'Like I Love Country Music',
 "She's All I Wanna Be",
 'Insane',
 'What Happened To Virgil',
 "When You're Gone",
 'Die Hard',
 'Tarot',
 'Un Ratito',
 'If I Was A Cowboy',
 'True Love',
 'Love/Hate Letter To Alcohol',
 'Matilda',
 'Sunroof',
 'Daylight',
 'Right On',
 'Vegas',
 'Thought You Should Know',
 'Die Young',
 'Flower Shops',
 'Freaky Deaky',
 'She Likes It',
 'Hotel Lobby (Unc And Phew)',
 'Ghost Story',
 'Slow Down Summer',
 'Circles Around This Town',
 'Yo No Soy Celoso',
 'She Had Me At Heads Carolina',
 'Potion',
 'Te Felicito',
 'DFMU',
 'Little Freak',
 'Grapejuice',
 'Last Night Lonely',
 'La Corriente',
 'Satellite',
 'Plan B',
 'Neverita',
 "When I'm Alone",
 '7500 OBO',
 "F.N.F. (Let's Go)",
 'Euthanasia']

In [350]:
len(song)

100

In [351]:
# Extracting tags
artist_tag=driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')

# Extracting text from tags
for i in artist_tag:
    n=i.text
    artist.append(n)
    
artist

['Harry Styles',
 'Jack Harlow',
 'Future Featuring Drake & Tems',
 'Kate Bush',
 'Lizzo',
 'Glass Animals',
 'Latto',
 'Bad Bunny & Chencho Corleone',
 'Post Malone Featuring Doja Cat',
 'Bad Bunny',
 'The Kid LAROI & Justin Bieber',
 'Post Malone Featuring Roddy Ricch',
 'Morgan Wallen',
 'Imagine Dragons X JID',
 'Harry Styles',
 'Justin Bieber',
 'Dove Cameron',
 'Bad Bunny',
 'Ed Sheeran',
 'Doja Cat',
 'Em Beihold',
 'Parmalee',
 'Camila Cabello Featuring Ed Sheeran',
 'Kodak Black',
 'Elton John & Dua Lipa',
 'Lil Nas X',
 'Megan Thee Stallion & Dua Lipa',
 'Ed Sheeran',
 'Karol G',
 'Bad Bunny & Rauw Alejandro',
 'Morgan Wallen',
 'Walker Hayes',
 'Bad Bunny',
 'Post Malone & The Weeknd',
 'Bad Bunny & Bomba Estereo',
 'Future',
 'Zach Bryan',
 'Jason Aldean',
 'Polo G',
 'Bad Bunny',
 'Becky G X Karol G',
 'The Kid LAROI',
 'Cody Johnson',
 'Doja Cat',
 'Scotty McCreery',
 'Post Malone Featuring Gunna',
 'Post Malone',
 'Lil Baby',
 'Lady Gaga',
 'SleazyWorld Go Featuring Lil Baby',
 'Ed Sheeran Featuring Lil Baby',
 'Bailey Zimmerman',
 'Post Malone',
 'Post Malone',
 'JNR CHOI & Sam Tompkins',
 'Post Malone Featuring The Kid LAROI',
 'Kendrick Lamar & Kodak Black',
 'Harry Styles',
 'Kendrick Lamar',
 'Kane Brown',
 'Tate McRae',
 'Post Malone',
 'Lil Durk Featuring Gunna',
 'Shawn Mendes',
 'Kendrick Lamar, Blxst & Amanda Reifer',
 'Bad Bunny & Jhay Cortez',
 'Bad Bunny',
 'Miranda Lambert',
 'Kanye West & XXXTENTACION',
 'Post Malone Featuring Fleet Foxes',
 'Harry Styles',
 'Nicky Youre & dazy',
 'Harry Styles',
 'Lil Baby',
 'Doja Cat',
 'Morgan Wallen',
 'Sleepy Hallow Featuring 347aidan',
 'ERNEST Featuring Morgan Wallen',
 'Tyga X Doja Cat',
 'Russell Dickerson & Jake Scott',
 'Quavo & Takeoff',
 'Carrie Underwood',
 'Thomas Rhett',
 'Maren Morris',
 'Bad Bunny',
 'Cole Swindell',
 'Calvin Harris, Dua Lipa & Young Thug',
 'Shakira & Rauw Alejandro',
 'Ella Mai',
 'Harry Styles',
 'Harry Styles',
 'Jon Pardi',
 'Bad Bunny & Tony Dize',
 'Harry Styles',
 'Megan Thee Stallion',
 'Bad Bunny',
 'Post Malone',
 'Tim McGraw',
 'Hitkidd & Glorilla',
 'Post Malone']

In [352]:
len(song)

100

In [353]:
# Extracting tags
peak_tag=driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span')

# Extracting text from tags
for i in peak_tag:
    n=i.text
    peak.append(n)
    
peak

['1',
 '1',
 '1',
 '4',
 '4',
 '1',
 '3',
 '7',
 '9',
 '5',
 '1',
 '12',
 '9',
 '5',
 '4',
 '5',
 '16',
 '4',
 '2',
 '7',
 '19',
 '22',
 '21',
 '3',
 '7',
 '8',
 '15',
 '4',
 '25',
 '14',
 '6',
 '28',
 '6',
 '6',
 '26',
 '4',
 '37',
 '32',
 '39',
 '34',
 '15',
 '15',
 '18',
 '44',
 '45',
 '46',
 '47',
 '14',
 '49',
 '47',
 '51',
 '52',
 '53',
 '54',
 '38',
 '56',
 '7',
 '8',
 '3',
 '60',
 '44',
 '62',
 '22',
 '38',
 '5',
 '18',
 '16',
 '53',
 '22',
 '70',
 '9',
 '72',
 '13',
 '13',
 '75',
 '12',
 '60',
 '64',
 '43',
 '80',
 '59',
 '72',
 '43',
 '52',
 '22',
 '86',
 '71',
 '88',
 '89',
 '14',
 '15',
 '92',
 '32',
 '21',
 '29',
 '31',
 '97',
 '98',
 '91',
 '100']

In [354]:
len(peak)

100

In [355]:
# Extracting tags
weeks_tag=driver.find_elements_by_xpath('//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span')

# Extracting text from tags
for i in weeks_tag:
    n=i.text
    weeks.append(n)
    
weeks

['10',
 '9',
 '6',
 '22',
 '8',
 '73',
 '33',
 '5',
 '1',
 '5',
 '48',
 '4',
 '30',
 '29',
 '3',
 '37',
 '17',
 '5',
 '50',
 '45',
 '19',
 '10',
 '14',
 '31',
 '40',
 '38',
 '13',
 '39',
 '7',
 '5',
 '4',
 '22',
 '5',
 '27',
 '5',
 '6',
 '7',
 '12',
 '1',
 '5',
 '17',
 '7',
 '35',
 '27',
 '10',
 '1',
 '1',
 '9',
 '5',
 '2',
 '7',
 '6',
 '1',
 '1',
 '15',
 '1',
 '4',
 '3',
 '4',
 '3',
 '18',
 '1',
 '13',
 '10',
 '4',
 '5',
 '5',
 '19',
 '2',
 '1',
 '3',
 '2',
 '3',
 '9',
 '1',
 '5',
 '2',
 '20',
 '15',
 '10',
 '3',
 '3',
 '16',
 '20',
 '5',
 '2',
 '2',
 '1',
 '3',
 '3',
 '3',
 '2',
 '5',
 '3',
 '3',
 '5',
 '1',
 '2',
 '2',
 '1']

In [356]:
len(weeks)

100

In [357]:
# Creating DataFrame
billboard_top_100=pd.DataFrame({})

billboard_top_100['Song Name']=song
billboard_top_100['Artist Name']=artist
billboard_top_100['Last week rank']=last_week
billboard_top_100['Peak Rank']=peak
billboard_top_100['Weeks on Board']=weeks

billboard_top_100.head()

,Song Name,Artist Name,Last week rank,Peak Rank,Weeks on Board
0,As It Was,Harry Styles,1,1,10
1,First Class,Jack Harlow,2,1,9
2,Wait For U,Future Featuring Drake & Tems,3,1,6
3,Running Up That Hill (A Deal With God),Kate Bush,8,4,22
4,About Damn Time,Lizzo,4,4,8

Q7 : Scrape the details of Data science recruiters from naukri.com.

In [368]:
naukri='https://www.naukri.com/hr-recruiters-consultants'
driver.get(naukri)

In [370]:
# Search bar
search=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [371]:
# search button
search_button=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_button.click()

In [372]:
# Creating Empty lists

name=[]
designation=[]
company=[]
skill=[]
location=[]

In [373]:
# Extracting tags
name_tag=driver.find_elements_by_xpath('//a[@class="ellipsis"]/span')

# Extracting text from tags
for i in name_tag:
    n=i.text
    name.append(n)
    
name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Sakshi Chhikara',
 'Ruchi Dhote',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'Avodha',
 'Priya Khare',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury',
 'SREEDHAR',
 'Ravi Dubey']

In [374]:
len(name)

50

In [375]:
# Extracting tags
designation_tag=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')

# Extracting text from tags
for i in designation_tag:
    n=i.text
    designation.append(n)
    
designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'HR Manager',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Team Lead',
 'HR Manager',
 'Assistant Manager HR',
 'Senior Executive Talent Acquisition',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Company Recruitment Head',
 'Project Manager',
 'Business Development Associate',
 'Senior Manager',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner',
 'Recruitment Consultant',
 'Recruitment Manager']

In [376]:
len(designation)

50

In [379]:
# Extracting tags
company_tag=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')

# Extracting text from tags
for i in company_tag:
    n=i.text
    company.append(n)
    
company

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Infinitive Software Solutions',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'SocialPrachar.com',
 'BISP Solutions',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'Bristlecone India Ltd',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Confidential',
 'Dollarbird Information Services Pvt, Ltd',
 'Nikitha Palaparthi',
 'Independent Consultant',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'HyrEzy Talent Solutions LLP']

In [380]:
len(company)

50

In [381]:
# Extracting tags
skill_tag=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')

# Extracting text from tags
for i in skill_tag:
    n=i.text
    skill.append(n)
    
skill

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Walmart Interra Skeps Expressstores indifi whitehatJr Practo Zylo Doctalk Medtrail']

In [382]:
len(skill)

50

In [384]:
location=[]

In [385]:
# Extracting tags
location_tag=driver.find_elements_by_xpath('//p[@class="highlightable"]/span/small')

# Extracting text from tags
for i in location_tag:
    n=i.text
    location.append(n)
    
location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Ghaziabad']

In [386]:
len(location)

48

Q8 : Scrape the details of Highest selling novels.

In [387]:
the_guardian='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(the_guardian)

In [389]:
# Creating Empty lists
book=[]
author=[]
volumes_sold=[]
publisher=[]
genre=[]

In [390]:
# Extracting tags
book_tag=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')

# Extracting text from tags
for i in book_tag:
    n=i.text
    book.append(n)
    
book

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [391]:
len(book)

100

In [392]:
# Extracting tags
author_tag=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')

# Extracting text from tags
for i in author_tag:
    n=i.text
    author.append(n)
    
author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [393]:
len(author)

100

In [394]:
# Extracting tags
volumes_sold_tag=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')

# Extracting text from tags
for i in volumes_sold_tag:
    n=i.text
    volumes_sold.append(n)
    
volumes_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [395]:
len(volumes_sold)

100

In [396]:
# Extracting tags
publisher_tag=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')

# Extracting text from tags
for i in publisher_tag:
    n=i.text
    publisher.append(n)
    
publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [397]:
len(publisher)

100

In [398]:
# Extracting tags
genre_tag=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')

# Extracting text from tags
for i in genre_tag:
    n=i.text
    genre.append(n)
    
genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [400]:
len(genre)

100

In [401]:
# Creating DataFrame

best_selling_books=pd.DataFrame({})

best_selling_books['Book Name']=book
best_selling_books['Author Name']=author
best_selling_books['Volumes Sold']=volumes_sold
best_selling_books['Publisher']=publisher
best_selling_books['Genre']=genre

best_selling_books.head()

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

Q9 : Scrape the details most watched tv series of all time from imdb.com.

In [403]:
imdb='https://www.imdb.com/list/ls095964455/'
driver.get(imdb)

In [404]:
# Creating Empty lists
name=[]
year=[]
genre=[]
run_time=[]
rating=[]
vote=[]

In [405]:
# Extracting tags
name_tag=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')

# Extracting text from tags
for i in name_tag:
    n=i.text
    name.append(n)
    
name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [406]:
len(name)

100

In [407]:
# Extracting tags
year_tag=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]')

# Extracting text from tags
for i in year_tag:
    n=i.text
    year.append(n)
    
year

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017–2023)',
 '(2005– )',
 '(2014– )',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016– )',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019– )',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005–2020)',
 '(2015–2019)',
 '(2018)']

In [408]:
len(year)

100

In [409]:
# Extracting tags
genre_tag=driver.find_elements_by_xpath('//span[@class="genre"]')

# Extracting text from tags
for i in genre_tag:
    n=i.text
    genre.append(n)
    
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [410]:
len(genre)

100

In [411]:
# Extracting tags
run_time_tag=driver.find_elements_by_xpath('//span[@class="runtime"]')

# Extracting text from tags
for i in run_time_tag:
    n=i.text
    run_time.append(n)
    
run_time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [412]:
len(run_time)

100

In [413]:
# Extracting tags
rating_tag=driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')

# Extracting text from tags
for i in rating_tag:
    n=i.text
    rating.append(n)
    
rating

['9.2',
 '8.7',
 '8.2',
 '7.5',
 '7.6',
 '8.1',
 '6.7',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.5',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.4',
 '8.2',
 '7.8',
 '8.6',
 '7.9',
 '8.5',
 '9.2',
 '6.4',
 '8.1',
 '8.7',
 '8.7',
 '7.4',
 '8.4',
 '8.6',
 '7.7',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.4',
 '8.8',
 '8.7',
 '6.6',
 '8.3',
 '8.3',
 '7.3',
 '6.7',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '8',
 '8.9',
 '7.8',
 '7.6',
 '8.8',
 '8.2',
 '8.5',
 '8.3',
 '7.2',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [414]:
len(rating)

100

In [426]:
# Extracting tags
vote_tag=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')

# Extracting text from tags
for i in vote_tag:
    n=i.text
    vote.append(n)
    
vote

['1,996,482',
 '1,040,283',
 '950,178',
 '283,950',
 '243,757',
 '296,700',
 '139,927',
 '296,209',
 '338,652',
 '426,642',
 '458,227',
 '785,772',
 '520,802',
 '896,824',
 '511,942',
 '163,829',
 '312,344',
 '308,121',
 '1,749,093',
 '310,153',
 '430,945',
 '519,541',
 '147,581',
 '143,635',
 '396,808',
 '221,091',
 '407,270',
 '422,663',
 '956,554',
 '665,376',
 '397,964',
 '375,889',
 '132,382',
 '122,377',
 '170,474',
 '152,162',
 '226,924',
 '478,687',
 '209,994',
 '412,489',
 '479,319',
 '61,538',
 '179,813',
 '495,791',
 '358,401',
 '74,188',
 '263,248',
 '231,603',
 '217,536',
 '214,353',
 '227,715',
 '713,664',
 '127,702',
 '329,168',
 '240,741',
 '538,691',
 '495,580',
 '450,507',
 '60,451',
 '109,208',
 '336,100',
 '72,699',
 '103,178',
 '218,143',
 '91,074',
 '90,016',
 '48,291',
 '146,182',
 '361,258',
 '296,830',
 '105,667',
 '206,910',
 '550,016',
 '102,518',
 '126,470',
 '421,314',
 '105,811',
 '222,562',
 '84,252',
 '21,395',
 '137,391',
 '150,638',
 '127,796',
 '36,109',
 '271,669',
 '119,069',
 '128,204',
 '72,744',
 '104,264',
 '190,542',
 '27,630',
 '180,750',
 '192,422',
 '704,128',
 '66,818',
 '48,897',
 '59,598',
 '190,650',
 '40,329',
 '229,052']

In [427]:
len(vote)

100

In [430]:
# Creating DataFrame

top_100_tv_shows=pd.DataFrame({})

top_100_tv_shows['Show Name']=name
top_100_tv_shows['Year Span']=year
top_100_tv_shows['Genre']=genre
top_100_tv_shows['Run Time']=run_time
top_100_tv_shows['Ratings']=rating
top_100_tv_shows['Votes']=vote

top_100_tv_shows.head()

,Show Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,996,482"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,040,283"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"950,178"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"283,950"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,757"

Q10 : Details of Datasets from UCI machine learning repositories.

In [450]:
uci='https://archive.ics.uci.edu/ml/index.php'
driver.get(uci)

In [451]:
# Clicking on view all datasets
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]').click()

In [452]:
# Creating Empty lists

name=[]
data_type=[]
task=[]
attribute_type=[]
instances=[]
attribute=[]
Year=[]

In [453]:
# Extracting tags
name_tag=driver.find_elements_by_xpath('//p[@class="normal"]/b/a')

# Extracting text from tags
for i in name_tag:
    n=i.text
    name.append(n)
    
name

['Abalone',
 'Adult',
 'Annealing',
 'Anonymous Microsoft Web Data',
 'Arrhythmia',
 'Artificial Characters',
 'Audiology (Original)',
 'Audiology (Standardized)',
 'Auto MPG',
 'Automobile',
 'Badges',
 'Balance Scale',
 'Balloons',
 'Breast Cancer',
 'Breast Cancer Wisconsin (Original)',
 'Breast Cancer Wisconsin (Prognostic)',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Pittsburgh Bridges',
 'Car Evaluation',
 'Census Income',
 'Chess (King-Rook vs. King-Knight)',
 'Chess (King-Rook vs. King-Pawn)',
 'Chess (King-Rook vs. King)',
 'Chess (Domain Theories)',
 'Bach Chorales',
 'Connect-4',
 'Credit Approval',
 'Japanese Credit Screening',
 'Computer Hardware',
 'Contraceptive Method Choice',
 'Covertype',
 'Cylinder Bands',
 'Dermatology',
 'Diabetes',
 'DGP2 - The Second Data Generation Program',
 'Document Understanding',
 'EBL Domain Theories',
 'Echocardiogram',
 'Ecoli',
 'Flags',
 'Function Finding',
 'Glass Identification',
 "Haberman's Survival",
 'Hayes-Roth',
 'Heart Disease',
 'Hepatitis',
 'Horse Colic',
 'ICU',
 'Image Segmentation',
 'Internet Advertisements',
 'Ionosphere',
 'Iris',
 'ISOLET',
 'Kinship',
 'Labor Relations',
 'LED Display Domain',
 'Lenses',
 'Letter Recognition',
 'Liver Disorders',
 'Logic Theorist',
 'Lung Cancer',
 'Lymphography',
 'Mechanical Analysis',
 'Meta-data',
 'Mobile Robots',
 'Molecular Biology (Promoter Gene Sequences)',
 'Molecular Biology (Protein Secondary Structure)',
 'Molecular Biology (Splice-junction Gene Sequences)',
 "MONK's Problems",
 'Moral Reasoner',
 'Multiple Features',
 'Mushroom',
 'Musk (Version 1)',
 'Musk (Version 2)',
 'Nursery',
 'Othello Domain Theory',
 'Page Blocks Classification',
 'Optical Recognition of Handwritten Digits',
 'Pen-Based Recognition of Handwritten Digits',
 'Post-Operative Patient',
 'Primary Tumor',
 'Prodigy',
 'Qualitative Structure Activity Relationships',
 'Quadruped Mammals',
 'Servo',
 'Shuttle Landing Control',
 'Solar Flare',
 'Soybean (Large)',
 'Soybean (Small)',
 'Challenger USA Space Shuttle O-Ring',
 'Low Resolution Spectrometer',
 'Spambase',
 'SPECT Heart',
 'SPECTF Heart',
 'Sponge',
 'Statlog Project',
 'Student Loan Relational',
 'Teaching Assistant Evaluation',
 'Tic-Tac-Toe Endgame',
 'Thyroid Disease',
 'Trains',
 'University',
 'Congressional Voting Records',
 'Water Treatment Plant',
 'Waveform Database Generator (Version 1)',
 'Waveform Database Generator (Version 2)',
 'Wine',
 'Yeast',
 'Zoo',
 'Undocumented',
 'Twenty Newsgroups',
 'Australian Sign Language signs',
 'Australian Sign Language signs (High Quality)',
 'US Census Data (1990)',
 'Census-Income (KDD)',
 'Coil 1999 Competition Data',
 'Corel Image Features',
 'E. Coli Genes',
 'EEG Database',
 'El Nino',
 'Entree Chicago Recommendation Data',
 'CMU Face Images',
 'Insurance Company Benchmark (COIL 2000)',
 'Internet Usage Data',
 'IPUMS Census Database',
 'Japanese Vowels',
 'KDD Cup 1998 Data',
 'KDD Cup 1999 Data',
 'M. Tuberculosis Genes',
 'Movie',
 'MSNBC.com Anonymous Web Data',
 'NSF Research Award Abstracts 1990-2003',
 'Pioneer-1 Mobile Robot Data',
 'Pseudo Periodic Synthetic Time Series',
 'Reuters-21578 Text Categorization Collection',
 'Robot Execution Failures',
 'Synthetic Control Chart Time Series',
 'Syskill and Webert Web Page Ratings',
 'UNIX User Data',
 'Volcanoes on Venus - JARtool experiment',
 'Statlog (Australian Credit Approval)',
 'Statlog (German Credit Data)',
 'Statlog (Heart)',
 'Statlog (Landsat Satellite)',
 'Statlog (Image Segmentation)',
 'Statlog (Shuttle)',
 'Statlog (Vehicle Silhouettes)',
 'Connectionist Bench (Nettalk Corpus)',
 'Connectionist Bench (Sonar, Mines vs. Rocks)',
 'Connectionist Bench (Vowel Recognition - Deterding Data)',
 'Economic Sanctions',
 'Protein Data',
 'Cloud',
 'CalIt2 Building People Counts',
 'Dodgers Loop Sensor',
 'Poker Hand',
 'MAGIC Gamma Telescope',
 'UJI Pen Characters',
 'Mammographic Mass',
 'Forest Fires',
 'Reuters Transcribed Subset',
 'Bag of Words',
 'Concrete Compressive Strength',
 'Hill-Valley',
 'Arcene',
 'Dexter',
 'Dorothea',
 'Gisette',
 'Madelon',
 'Ozone Level Detection',
 'Abscisic Acid Signaling Network',
 'Parkinsons',
 'Character Trajectories',
 'Blood Transfusion Service Center',
 'UJI Pen Characters (Version 2)',
 'Semeion Handwritten Digit',
 'SECOM',
 'Plants',
 'Libras Movement',
 'Concrete Slump Test',
 'Communities and Crime',
 'Acute Inflammations',
 'Wine Quality',
 'URL Reputation',
 'p53 Mutants',
 'Parkinsons Telemonitoring',
 'Demospongiae',
 'Opinosis Opinion ⁄ Review',
 'Breast Tissue',
 'Cardiotocography',
 'Wall-Following Robot Navigation Data',
 'Spoken Arabic Digit',
 'Localization Data for Person Activity',
 'AutoUniv',
 'Steel Plates Faults',
 'MiniBooNE particle identification',
 'YearPredictionMSD',
 'PEMS-SF',
 'OpinRank Review Dataset',
 'Relative location of CT slices on axial axis',
 'Online Handwritten Assamese Characters Dataset',
 'PubChem Bioassay Data',
 'Record Linkage Comparison Patterns',
 'Communities and Crime Unnormalized',
 'Vertebral Column',
 'EMG Physical Action Data Set',
 'Vicon Physical Action Data Set',
 'Amazon Commerce reviews set',
 'Amazon Access Samples',
 'Reuter_50_50',
 'Farm Ads',
 'DBWorld e-mails',
 'KEGG Metabolic Relation Network (Directed)',
 'KEGG Metabolic Reaction Network (Undirected)',
 'Bank Marketing',
 'YouTube Comedy Slam Preference Data',
 'Gas Sensor Array Drift Dataset',
 'ILPD (Indian Liver Patient Dataset)',
 'OPPORTUNITY Activity Recognition',
 'Nomao',
 'SMS Spam Collection',
 'Skin Segmentation',
 'Planning Relax',
 'PAMAP2 Physical Activity Monitoring',
 'Restaurant & consumer data',
 'CNAE-9',
 'Individual household electric power consumption',
 'seeds',
 'Northix',
 'QtyT40I10D100K',
 'Legal Case Reports',
 'Human Activity Recognition Using Smartphones',
 'One-hundred plant species leaves data set',
 'Energy efficiency',
 'Yacht Hydrodynamics',
 'Fertility',
 'Daphnet Freezing of Gait',
 '3D Road Network (North Jutland, Denmark)',
 'ISTANBUL STOCK EXCHANGE',
 'Buzz in social media',
 'First-order theorem proving',
 'Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)',
 'Gas sensor arrays in open sampling settings',
 'Climate Model Simulation Crashes',
 'MicroMass',
 'QSAR biodegradation',
 'BLOGGER',
 'Daily and Sports Activities',
 'User Knowledge Modeling',
 'Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection',
 'NYSK',
 'Turkiye Student Evaluation',
 "ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)",
 'EEG Eye State',
 'Physicochemical Properties of Protein Tertiary Structure',
 'seismic-bumps',
 'banknote authentication',
 'USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat',
 'YouTube Multiview Video Games Dataset',
 'Gas Sensor Array Drift Dataset at Different Concentrations',
 'Activities of Daily Living (ADLs) Recognition Using Binary Sensors',
 'SkillCraft1 Master Table Dataset',
 'Weight Lifting Exercises monitored with Inertial Measurement Units',
 'SML2010',
 'Bike Sharing Dataset',
 'Predict keywords activities in a online social media',
 'Thoracic Surgery Data',
 'EMG dataset in Lower Limb',
 'SUSY',
 'HIGGS',
 'Qualitative_Bankruptcy',
 'LSVT Voice Rehabilitation',
 'Dataset for ADL Recognition with Wrist-worn Accelerometer',
 'Wilt',
 'User Identification From Walking Activity',
 'Activity Recognition from Single Chest-Mounted Accelerometer',
 'Leaf',
 'Dresses_Attribute_Sales',
 'Tamilnadu Electricity Board Hourly Readings',
 'Airfoil Self-Noise',
 'Wholesale customers',
 'Twitter Data set for Arabic Sentiment Analysis',
 'Combined Cycle Power Plant',
 'Urban Land Cover',
 'Diabetes 130-US hospitals for years 1999-2008',
 'Bach Choral Harmony',
 'StoneFlakes',
 'Tennis Major Tournament Match Statistics',
 'Parkinson Speech Dataset with Multiple Types of Sound Recordings',
 'Gesture Phase Segmentation',
 'Perfume Data',
 'BlogFeedback',
 'REALDISP Activity Recognition Dataset',
 'Newspaper and magazine images segmentation dataset',
 'AAAI 2014 Accepted Papers',
 'Gas sensor array under flow modulation',
 'Gas sensor array exposed to turbulent gas mixtures',
 'UJIIndoorLoc',
 'Sentence Classification',
 'Dow Jones Index',
 'sEMG for Basic Hand movements',
 'AAAI 2013 Accepted Papers',
 'Geographical Original of Music',
 'Condition Based Maintenance of Naval Propulsion Plants',
 'Grammatical Facial Expressions',
 'NoisyOffice',
 'MHEALTH Dataset',
 'Student Performance',
 'ElectricityLoadDiagrams20112014',
 'Gas sensor array under dynamic gas mixtures',
 'microblogPCU',
 'Firm-Teacher_Clave-Direction_Classification',
 'Dataset for Sensorless Drive Diagnosis',
 'TV News Channel Commercial Detection Dataset',
 'Phishing Websites',
 'Greenhouse Gas Observing Network',
 'Diabetic Retinopathy Debrecen Data Set',
 'HIV-1 protease cleavage',
 'Sentiment Labelled Sentences',
 'Online News Popularity',
 'Forest type mapping',
 'wiki4HE',
 'Online Video Characteristics and Transcoding Time Dataset',
 'Chronic_Kidney_Disease',
 'Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014',
 'Folio',
 'Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015',
 'Cuff-Less Blood Pressure Estimation',
 'Smartphone-Based Recognition of Human Activities and Postural Transitions',
 'Mice Protein Expression',
 'UJIIndoorLoc-Mag',
 'Heterogeneity Activity Recognition',
 'Educational Process Mining (EPM): A Learning Analytics Data Set',
 'HEPMASS',
 'Indoor User Movement Prediction from RSS data',
 'Open University Learning Analytics dataset',
 'default of credit card clients',
 'Mesothelioma’s disease data set',
 'Online Retail',
 'SIFT10M',
 'GPS Trajectories',
 'Detect Malacious Executable(AntiVirus)',
 'Occupancy Detection',
 'Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinson’s Disease',
 'News Aggregator',
 'Air Quality',
 'Twin gas sensor arrays',
 'Gas sensors for home activity monitoring',
 'Facebook Comment Volume Dataset',
 'Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)',
 'Polish companies bankruptcy data',
 'Activity Recognition system based on Multisensor data fusion (AReM)',
 'Dota2 Games Results',
 'Facebook metrics',
 'UbiqLog (smartphone lifelogging)',
 'NIPS Conference Papers 1987-2015',
 'HTRU2',
 'Drug consumption (quantified)',
 'Appliances energy prediction',
 'Miskolc IIS Hybrid IPS',
 'KDC-4007 dataset Collection',
 'Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone',
 'DrivFace',
 'Website Phishing',
 'YouTube Spam Collection',
 'Beijing PM2.5 Data',
 'Cargo 2000 Freight Tracking and Tracing',
 'Cervical cancer (Risk Factors)',
 'Quality Assessment of Digital Colposcopies',
 'KASANDR',
 'FMA: A Dataset For Music Analysis',
 'Air quality',
 'Epileptic Seizure Recognition',
 'Devanagari Handwritten Character Dataset',
 'Stock portfolio performance',
 'MoCap Hand Postures',
 'Early biomarkers of Parkinson�s disease based on natural connected speech',
 'Data for Software Engineering Teamwork Assessment in Education Setting',
 'PM2.5 Data of Five Chinese Cities',
 'Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet',
 'Sales_Transactions_Dataset_Weekly',
 'Las Vegas Strip',
 'Eco-hotel',
 'MEU-Mobile KSD',
 'Crowdsourced Mapping',
 'gene expression cancer RNA-Seq',
 'Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer',
 'chestnut – LARVIC',
 'Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network',
 'Motion Capture Hand Postures',
 'Anuran Calls (MFCCs)',
 'TTC-3600: Benchmark dataset for Turkish text categorization',
 'Gastrointestinal Lesions in Regular Colonoscopy',
 'Daily Demand Forecasting Orders',
 'Paper Reviews',
 'extention of Z-Alizadeh sani dataset',
 'Z-Alizadeh Sani',
 'Dynamic Features of VirusShare Executables',
 'IDA2016Challenge',
 'DSRC Vehicle Communications',
 'Mturk User-Perceived Clusters over Images',
 'Character Font Images',
 'DeliciousMIL: A Data Set for Multi-Label Multi-Instance Learning with Instance Labels',
 'Autistic Spectrum Disorder Screening Data for Children',
 'Autistic Spectrum Disorder Screening Data for Adolescent',
 'APS Failure at Scania Trucks',
 'Wireless Indoor Localization',
 'HCC Survival',
 'CSM (Conventional and Social Media Movies) Dataset 2014 and 2015',
 'University of Tehran Question Dataset 2016 (UTQD.2016)',
 'Autism Screening Adult',
 'Activity recognition with healthy older people using a batteryless wearable sensor',
 'Immunotherapy Dataset',
 'Cryotherapy Dataset',
 'OCT data & Color Fundus Images of Left & Right Eyes',
 'Discrete Tone Image Dataset',
 'News Popularity in Multiple Social Media Platforms',
 'Ultrasonic flowmeter diagnostics',
 'ICMLA 2014 Accepted Papers Data Set',
 'BLE RSSI Dataset for Indoor localization and Navigation',
 'Container Crane Controller Data Set',
 'Residential Building Data Set',
 'Health News in Twitter',
 'chipseq',
 'SGEMM GPU kernel performance',
 'Repeat Consumption Matrices',
 'detection_of_IoT_botnet_attacks_N_BaIoT',
 'Absenteeism at work',
 'SCADI',
 'Condition monitoring of hydraulic systems',
 'Carbon Nanotubes',
 'Optical Interconnection Network',
 'Sports articles for objectivity analysis',
 'Breast Cancer Coimbra',
 'GNFUV Unmanned Surface Vehicles Sensor Data',
 'Dishonest Internet users Dataset',
 'Victorian Era Authorship Attribution',
 'Simulated Falls and Daily Living Activities Data Set',
 'Multimodal Damage Identification for Humanitarian Computing',
 'EEG Steady-State Visual Evoked Potential Signals',
 'Roman Urdu Data Set',
 'Avila',
 'PANDOR',
 'Drug Review Dataset (Druglib.com)',
 'Drug Review Dataset (Drugs.com)',
 'Physical Unclonable Functions',
 'Superconductivty Data',
 'WESAD (Wearable Stress and Affect Detection)',
 'GNFUV Unmanned Surface Vehicles Sensor Data Set 2',
 'Student Academics Performance',
 'Online Shoppers Purchasing Intention Dataset',
 'PMU-UD',
 "Parkinson's Disease Classification",
 'Electrical Grid Stability Simulated Data',
 'Caesarian Section Classification Dataset',
 'BAUM-1',
 'BAUM-2',
 'Audit Data',
 'BuddyMove Data Set',
 'Real estate valuation data set',
 'Early biomarkers of Parkinson’s disease based on natural connected speech Data Set',
 'Somerville Happiness Survey',
 '2.4 GHZ Indoor Channel Measurements',
 'EMG data for gestures',
 'Parking Birmingham',
 'Behavior of the urban traffic of the city of Sao Paulo in Brazil',
 'Travel Reviews',
 'Tarvel Review Ratings',
 'Rice Leaf Diseases',
 'Gas sensor array temperature modulation',
 'Facebook Live Sellers in Thailand',
 'Parkinson Dataset with replicated acoustic features',
 'Metro Interstate Traffic Volume',
 'Query Analytics Workloads Dataset',
 'Wave Energy Converters',
 'PPG-DaLiA',
 'Alcohol QCM Sensor Dataset',
 'Divorce Predictors data set',
 'Incident management process enriched event log',
 'Opinion Corpus for Lebanese Arabic Reviews (OCLAR)',
 'MEx',
 'Beijing Multi-Site Air-Quality Data',
 'Online Retail II',
 'Hepatitis C Virus (HCV) for Egyptian patients',
 'QSAR fish toxicity',
 'QSAR aquatic toxicity',
 'Human Activity Recognition from Continuous Ambient Sensor Data',
 'WISDM Smartphone and Smartwatch Activity and Biometrics Dataset',
 'QSAR oral toxicity',
 'QSAR androgen receptor',
 'QSAR Bioconcentration classes dataset',
 'QSAR fish bioconcentration factor (BCF)',
 'A study of Asian Religious and Biblical Texts',
 'Real-time Election Results: Portugal 2019',
 'Bias correction of numerical prediction model temperature forecast',
 'Bar Crawl: Detecting Heavy Drinking',
 'Kitsune Network Attack Dataset',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'Speaker Accent Recognition',
 'Heart failure clinical records',
 'Deepfakes: Medical Image Tamper Detection',
 'selfBACK',
 'South German Credit',
 'Exasens',
 'Swarm Behaviour',
 'Crop mapping using fused optical-radar data set',
 'BitcoinHeistRansomwareAddressDataset',
 'Facebook Large Page-Page Network',
 'Amphibians',
 'Early stage diabetes risk prediction dataset.',
 'Turkish Spam V01',
 'Stock keeping units',
 'Demand Forecasting for a store',
 'Detect Malware Types',
 'Wave Energy Converters',
 'Youtube cookery channels viewers comments in Hinglish',
 'Pedestrian in Traffic Dataset',
 'Cervical Cancer Behavior Risk',
 'Sattriya_Dance_Single_Hand_Gestures Dataset',
 'Divorce Predictors data set',
 '3W dataset',
 'Malware static and dynamic features VxHeaven and Virus Total',
 'Internet Firewall Data',
 'User Profiling and Abusive Language Detection Dataset',
 'Estimation of obesity levels based on eating habits and physical condition',
 'Rice (Cammeo and Osmancik)',
 'Vehicle routing and scheduling problems',
 'Algerian Forest Fires Dataset',
 'Breath Metabolomics',
 'Horton General Hospital',
 'UrbanGB, urban road accidents coordinates labelled by the urban center',
 'Gas Turbine CO and NOx Emission Data Set',
 'Activity recognition using wearable physiological measurements',
 'clickstream data for online shopping',
 'CNNpred: CNN-based stock market prediction using a diverse set of variables',
 'Apartment for rent classified',
 ': Simulated Data set of Iraqi tourism places',
 'Nasarian CAD Dataset',
 'Monolithic Columns in Troad and Mysia Region',
 'Bar Crawl: Detecting Heavy Drinking',
 'Seoul Bike Sharing Demand',
 'Person Classification Gait Data',
 'Shill Bidding Dataset',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Bone marrow transplant: children',
 'Exasens',
 'COVID-19 Surveillance',
 'Refractive errors',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'CLINC150',
 'HCV data',
 'Taiwanese Bankruptcy Prediction',
 'South German Credit (UPDATE)',
 'IIWA14-R820-Gazebo-Dataset-10Trajectories',
 'Guitar Chords finger positions',
 'Russian Corpus of Biographical Texts',
 'Codon usage',
 'Intelligent Media Accelerometer and Gyroscope (IM-AccGyro) Dataset',
 'Myocardial infarction complications',
 'Hungarian Chickenpox Cases',
 'Simulated data for survival modelling',
 'Student Performance on an entrance examination',
 'Chemical Composition of Ceramic Samples',
 'Labeled Text Forum Threads Dataset',
 'Stock keeping units',
 'BLE RSSI dataset for Indoor localization',
 'Basketball dataset',
 'GitHub MUSAE',
 'Anticancer peptides',
 'Monolithic Columns in Troad and Mysia Region',
 'Gender by Name',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Shoulder Implant Manufacture Classification',
 'LastFM Asia Social Network',
 'Wheat kernels',
 'Productivity Prediction of Garment Employees',
 'Multi-view Brain Networks',
 'LastFM Asia Social Network',
 'Wisesight Sentiment Corpus',
 'AI4I 2020 Predictive Maintenance Dataset',
 'Dry Bean Dataset',
 'in-vehicle coupon recommendation',
 'Gait Classification',
 'Wikipedia Math Essentials',
 'Wikipedia Math Essentials',
 'Synchronous Machine Data Set',
 'Average Localization Error (ALE) in sensor node localization process in WSNs',
 '9mers from cullpdb',
 'TamilSentiMix',
 'Accelerometer',
 'Synchronous Machine Data Set',
 'Pedal Me Bicycle Deliveries',
 'Turkish Headlines Dataset',
 'Secondary Mushroom Dataset',
 'Power consumption of Tetouan city',
 'Raisin Dataset',
 'Steel Industry Energy Consumption Dataset',
 'Gender Gap in Spanish WP',
 'Non verbal tourists data',
 'Roman Urdu Sentiment Analysis Dataset (RUSAD)',
 'TUANDROMD ( Tezpur University Android Malware Dataset)',
 'Higher Education Students Performance Evaluation Dataset',
 'Risk Factor prediction of Chronic Kidney Disease',
 'Lab Test',
 'Shoulder Implant Manufacture Classification',
 'Rocket League Skillshots Data Set',
 'Sepsis survival minimal clinical records',
 'Water Quality Prediction',
 'Traffic Flow Forecasting',
 'sentiment analysis in Saudi Arabia about distance education during Covid-19',
 'Kain Tradisional Sambas',

In [454]:
len(name)

622

**Class name is same for all the elements, i'm unable to fetch the data**

**Please provide the solution for the same**

# THE END